[2014-12-09 09:35] dajbelshaw opened #1 "Make modules standalone as well as part of an arc?"
Just opening this as a thread for discussion, really.

Should we make each module standalone *as well as* part of an arc. This would mean people can join a group at any point rather than having to commit to a whole six-week block?

[2014-12-12 10:00] dajbelshaw opened #7 "Check that each module teaches skills to achieve badges listed"
We've got Web Literacy competency badges listed for each module. Are we sure that the activities allow mentors and learners to achieve those badges?

If not, we should either modify the activities or come up with new badges.

List of badges: http://blog.webmaker.org/badges

[2014-12-12 10:01] dajbelshaw opened #8 "Double-check terminology in modules and activities"
Do we need a glossary? Are there any places we can make things simpler?

[2014-12-12 10:02] dajbelshaw opened #9 "Create new branch for next version of curriculum"
This repository needs to be up-to-date and usable by the alpha testers. We should do development of the next module on a new branch.

[2014-12-12 10:16] dajbelshaw opened #11 "Include original version of curriculum arc graphic"
Allow all the things to be remixed!

[2014-12-12 11:22] #11 closed, assigned to LauraHilliger

[2014-12-12 13:19] #9 closed, assigned to nobody

[2014-12-12 14:25] dajbelshaw opened #17 "Write learning objectives for Session 1"
Use this: http://ccoe.rbhs.rutgers.edu/forms/EffectiveUseofLearningObjectives.pdf

[2014-12-16 12:26] chadsansing opened #24 "Feedback on Doug Belshaw's Web Literacy Club GitHub Tutorial Videos"
What's working:

- Each episode feels right-sized.
- Clear, conversational explanations work.
- Sequence makes sense for what's been covered so far.

Questions

- How does HTML compare and contrast with markdown in GitHub visually as both code and rendered content?
- If I create a repository with .htm files, are 'hosted' versions of any pages available on GitHub?
- When would I use GitHub to colla

[2014-12-18 16:59] LauraHilliger opened #32 "simplify course in a box for displaying our io pages"
Later this year, we want to remix @p2pu's course in a box to present curriculum that has been tested and iterated upon. But we know that the repo might be overwhelming to some folks, so we'd like to simplify it as much as possible before spending time adjusting the style using Maker strap and dumping read me files into the structure.

http://howto.p2pu.org/

[2014-12-18 17:00] LauraHilliger opened #33 "apply maker strap to course in a box"
see issue 32 as this is related

[2014-12-18 17:02] LauraHilliger opened #34 "update graphic to match new curricular structure"

[2015-01-05 11:15] #24 closed

[2015-01-05 11:16] #7 closed

[2015-01-05 11:17] #1 closed

[2015-01-05 11:17] dajbelshaw opened #38 "Move Kraken the Code by MOUSE to GitHub pages and wiki"
https://katermouse.makes.org/thimble/LTc4OTExODk3Ng==/kraken-the-code-activity

[2015-01-05 11:19] dajbelshaw opened #39 "Create web version of Kraken PDF worksheet"
https://docs.google.com/a/zythepsary.com/file/d/0ByDhuNZWuJn-dEJBUjFTRmo1dUk/edit

[2015-01-05 11:22] LauraHilliger commented on #34
We need to remix our own meta arc for WebLitBasics and the graphic as well. Meta structure will be:

Module: WebLiteracyBasics #
Session 1: Exploring: Reading the Web: (main competency we're focusing on)
Session 2: Building: Writing the Web:
Session 3: Participating: Participating on the Web:

[2015-01-05 11:23] LauraHilliger commented on #38
don't forget to include the printable worksheet, which is beautiful: https://docs.google.com/a/zythepsary.com/file/d/0B1vyNnSVEMIDbDVLX1E4ZXRmclE/edit

[2015-01-05 12:29] LauraHilliger opened #40 "Update "Club Audit" with a curriculum audit"
Might be useful to look at the clubs being audited and auditing their curriculum at the same time. Might even find something we could use:

https://docs.google.com/a/zythepsary.com/spreadsheets/d/1JvIm1nAVBqtbOTwEpwzc_WyGL11Sx3QG5zSGUy1SQk8/edit#gid=0

[2015-01-05 18:24] chadsansing commented on #24
I very much appreciated the videos - I feel like I get GitHub and mardown
so much better now, though I'd dabbled with each before, so thank you. Just
hoped to be of help w/ the feedback - Happy New Year, Doug!

All the best,
C

On Fri, Dec 19, 2014 at 8:52 AM, Doug Belshaw <notifications@github.com>
wrote:

[2015-01-06 12:41] LauraHilliger commented on #39
BAM: http://laurahilliger.github.io/webmaker-curriculum/WebLiteracyBasics-I/legit-tip.html

PR #43

[2015-01-06 12:41] #39 closed

[2015-01-06 14:22] LauraHilliger opened #45 "Build grid design for v1 of presentation"
After much debate and thought, we've decided to build a simple html/css site hosting the curriculum. Activities/Resources will continue to utilize the activity template.

We'll use @iamjessklein's playlist mockup from July to improve on existing teaching kits. We can A/B test language here as well:

Grid/Design to be built:
https://www.flickr.com/photos/jessicaklein/14499321420/

[2015-01-06 14:42] dajbelshaw commented on #45
Just to be clear, is this right?

- use GitHub pages to host the curriculum
- use Thimble for the activity templates

<3 Jess' mockup.

[2015-01-06 15:04] LauraHilliger commented on #45
nope, sorry I wasn't clear enough.

We'll use github pages to host the curriculum, full stop. The difference is **instead** of using [this kit design + html/css](https://mozteach.makes.org/thimble/make-your-own-teaching-kit
), we'll build Jess's mockup. Activity template (e.g. [this one](https://mozteach.makes.org/thimble/make-your-own-teaching-activity)) will stay the same for now.

[2015-01-06 15:45] dajbelshaw commented on #45
Cool, thought that was what we decided! Just checking. :-)

[2015-01-07 11:14] LauraHilliger commented on #45
PR #48

[2015-01-07 11:14] #45 closed

[2015-01-07 11:16] LauraHilliger opened #50 "Design review for grid"
Hey @iamjessklein - any chance you could take a look and give some feedback on:

http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html

I tried to follow your design, but also used CSS Flexbox - so make your screen bigger smaller. Also, perhaps @toolness can get involved here and take a quick peek at the html/css?

[2015-01-07 11:25] LauraHilliger opened #51 "Content review"
@keyboardkat @omnignorant - I'm super ready for some feedback!

Would love to have some feedback and ideas on the 1st session for the Clubs Curriculum. This is a  remix of the Kraken activity, basically made into  a teaching kit for Clubs (using the new design from #45 )

Can you two take a look, share any thoughts and give me some ideas for the "Remixing Context" section? Just update this issue w

[2015-01-07 14:51] dajbelshaw opened #60 "Write conclusion / review for Session 1"
Depends on Issue #17

[2015-01-07 14:55] dajbelshaw opened #63 "Create web version of learning objectives guidance"
Use this as guide: http://ccoe.rbhs.rutgers.edu/forms/EffectiveUseofLearningObjectives.pdf

[2015-01-07 14:59] LauraHilliger opened #64 "Create wiki page on how to write Learning Objectives"
At the moment we're pointing people to [this great resource](http://ccoe.rbhs.rutgers.edu/forms/EffectiveUseofLearningObjectives.pdf), but we should simplify it and put it inside the wiki in this repo.

[2015-01-07 15:01] LauraHilliger commented on #63
dupe of #64

[2015-01-07 15:01] #63 closed

[2015-01-07 16:48] omnignorant commented on #51
Hey Laura, just had a glance. Obs looks amazing! But I'll need to dig in to say something meaningful. What's the deadline for some feedback? We're scrambling for our big event next week and would like to push as many commitments into the 2nd half of January as possible.

[2015-01-07 16:59] omnignorant opened #65 "Add a "Remix" or "View on GiHub" button to github.io pages"
For folks who are somewhat new to GitHub, or just lazy like me, maybe we should have some nice buttons on all our stuff that links back to this repo, or sub directories of it, etc.

Having tooled around with GitHub over the Xmas break, I'm also wondering if it wouldn't make sense to make each Unit a separate repo... or a sub-repo (forget what that's called). Feels like overkill to have to fork the

[2015-01-07 18:44] toolness commented on #50
Aww yeah flexbox **ROCKS**!!

[2015-01-07 18:49] toolness commented on #50
I took a very quick look at the HTML and CSS and it looks nice. The only visual bug I noticed is that the "Pledge" button appears to overflow its container on narrow/mobile displays:

![screen shot 2015-01-07 at 1 48 53 pm](https://cloud.githubusercontent.com/assets/124687/5651267/ff189b34-9673-11e4-8b09-565b893a4cad.png)

[2015-01-08 09:13] dajbelshaw commented on #65
Definitely +1 to buttons. We should test what works best for people - in terms of colours, iconography, etc.

In terms of separate repos, I would suggest we keep it simple and just to one for now. Perhaps we can then ask users if they're frustrated at having to fork the whole thing. Simplicity FTW!

[2015-01-08 09:57] dajbelshaw commented on #17
Done, but would appreciate review by @LauraHilliger

[2015-01-08 11:18] dajbelshaw opened #73 "Template 'reflect and review' section"
Individual assessment
Peer assessment
Expert assessment

[2015-01-08 11:25] dajbelshaw opened #74 "Create wiki page for remixing this curriculum"
Currently, users are encouraged in the overview page to remix the page. Perhaps this should be behind a remix button?

[2015-01-08 11:34] LauraHilliger commented on #17
Works for me! We should include in the wiki from #64 the process of taking the WebLit skills under a competency and building out objectives from the skills. Nice work Doug!

[2015-01-08 11:34] #17 closed

[2015-01-08 12:38] dirkcuys commented on #32
Hey @LauraHilliger - I agree that I want Jekyll to be simpler.

One complexity that I would really like to avoid is where users need to make 2 updates to do 1 thing. For instance, to create a new module a user need to create a folder in the modules directory and add that module name in _data/course.yml.

What are the places where you would like things to be simpler - I can use help identifying the

[2015-01-08 12:40] dirkcuys commented on #33
Adding maker strap should be fairly easy - we drew a lot of inspiration from it :) The most work would probably be updating the navigation HTML

[2015-01-08 13:08] LauraHilliger commented on #32
Hey @dirkcuys I'm happy to help you think about this! Having to update multiple places can definitely be confusing and frustrating, so +1 to that suggestion.

Another thing that would help a lot would be if Jekyll/Course-in-a-box could "hide" things a little. If I'm an educator, or Github n00b, and I look at that repo, I might be overwhelmed by the 11 folder plus files and whatever is inside all o

[2015-01-08 13:35] dirkcuys commented on #32
It may not be a jekyll solution, but if you use prose.io for editing you can hide folders. Try going to prose.io and open course in a box. You can do this for any gh-pages repo in the _config file, see https://github.com/p2pu/course-in-a-box/blob/gh-pages/_config.yml#L20-L28. Only works if you edit in prose.io

Merging is a big challenge. Ideally content editors would never get conflicts, but when

[2015-01-08 14:11] dajbelshaw opened #77 "Ignore: this is a test"

[2015-01-08 14:11] #77 closed

[2015-01-08 14:55] LauraHilliger opened #78 "Flesh out Remixing Context section for Club Types"
Would love to have more input on how you might remix [Session 1 (Credibility)](http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html) for specific club types.

[2015-01-08 15:01] LauraHilliger commented on #50
@toolness - do you have an idea for an easy fix there? I haven't written a mobile.css, but maybe if that's the only hiccup we don't need to...

[2015-01-08 16:09] LauraHilliger commented on #78
we should move the remixing context section to the github wiki and provide examples related to the individual activities.

[2015-01-08 16:11] LauraHilliger opened #79 "Make questionnaire for Reading the Web: Credibility (Kraken the Code activity)"
@smithisgeneric is on tap to create pre and post questionnaires for Club Curriculum Testers. The objectives were written with #17 and are included on the [session overview page](http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html)

For easy reference they are:

* Locate relevant information by using search engines
* Compare and contrast information found usi

[2015-01-08 16:28] LauraHilliger opened #80 "Create activity / lesson for Reading the Web: Web Mechanics (Ping Kong activity)"
What is a fun activity we can do to teach people the basics of search in a production-centered way? Is there a way we can remix the [SEO Battle](https://mousemeredith.makes.org/thimble/seo-battle) to be less about SEO, more about Search and tool agnostic? Or to use the XRay goggles instead of thimble (not sure if that would even work, filing an issue for testing)

I'll file a separate issue for ob

[2015-01-08 16:29] LauraHilliger opened #81 "Test whether you can SEO Battle w/ the XRay goggles"
if you make a page with the XRay goggles and put in a unique crazy word, then publish, will google return a result? EG do googlebots search our DBs?

[2015-01-08 16:33] LauraHilliger opened #82 "Write learning objectives for Kraken activity"
related to #80

[2015-01-08 16:42] dajbelshaw commented on #78
+1

However, I do like the idea of a hidden drop-down revealed on click which talks about lightweight remixing for different types of clubs (GLAM, etc.)

[2015-01-08 16:44] dajbelshaw commented on #82
First stab: https://teach.etherpad.mozilla.org/club-curriculum-remix

[2015-01-08 16:45] dajbelshaw commented on #80
I've had a go at an overview for this. One way would be to use Storify as it has built-in search for lots of different sources (search engines, social networks, etc.) and provides a way for learners to annotate these.

Anyway, had a go here: https://teach.etherpad.mozilla.org/club-curriculum-remix

Downside would be creation of Storify account. They can login with Facebook/Twitter or could be pre-

[2015-01-08 16:47] dajbelshaw commented on #60
Done! https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html

[2015-01-08 16:47] #60 closed

[2015-01-08 16:49] dajbelshaw commented on #8
Un-assigning myself as there's people better placed to review the copy.

[2015-01-08 16:51] dajbelshaw commented on #81
I think that's a question for @toolness

[2015-01-08 16:55] toolness commented on #81
Actually, I don't know the answer to that, because I don't control the server-side stuff that happens with the goggles right now. @jbuck, do you have any idea whether google indexes X-Ray Goggles makes, or know someone who might have an answer?

[2015-01-08 17:11] jbuck commented on #81
@toolness I *think* it does because one of the Thimble makes did a similar thing. Only way to know for sure is to try it though!

[2015-01-09 10:38] LauraHilliger opened #85 "Collect Github Repos that have #teachtheweb curricular content"
Github (and our [Mozilla wiki](http://wiki.mozilla.org)) attracts open sourcers, so if we collect links to repos that have relevant #teachtheweb content, we can fork, parse and pull, remix and explore what "github for curriculum" means for everyone :)

***In a box model***
https://github.com/p2pu/course-in-a-box
https://github.com/jmswisher/DevTopicInABox
https://wiki.mozilla.org/ReMo/SOPs/AppDays

[2015-01-12 10:13] LauraHilliger opened #88 "Make questionnaire for Reading the Web: Credibility (Kraken activity)"
The learning objectives are in #82 (and here again for easy reference). @smithisgeneric - @dajbelshaw and I were chatting and want to reiterate that if you think we should shift the objectives so your evaluations are easier to formulate / test, just comment in #82!

Search Learning objectives
* Find relevant, up-to-date information using a range of search techniques and platforms
* Using keywords,

[2015-01-12 10:14] LauraHilliger commented on #82
R+ from me filed #88 and pinged @smithisgeneric for QA. Karen - feel free to just close this issue if you're ok with the objectives.

[2015-01-12 10:17] LauraHilliger commented on #80
Would love to hear @keyboardkat and @omnignorant's thoughts on this new search activity. We filed #81 and kept moving on a new activity, probably the smart way to go (since SEO is arguably irrelevant nowadays.) Either of you have thoughts/ideas on using Storify? Alternative tool agnostic search (while making) activities?

[2015-01-12 10:17] dajbelshaw commented on #8
Perhaps we should create a glossary? We could add this to the wiki. Not high-priority initially, but perhaps useful to build out as we create assets/resources.

[2015-01-12 10:19] dajbelshaw opened #89 "Create a glossary of terms for Webmaker Clubs"
Per Issue #8 let's create a glossary for terms as we build assets and resources. Everything from super-simple (e.g. what we mean by 'remix') up to more pedagogical terms (if they're necessary to include).

[2015-01-12 10:26] LauraHilliger commented on #74
yes, I think so. We should "separate out remixing of activities from the overview page" - build a "remix this activity" button in, and take it to the Wiki. Editing this issue title.

[2015-01-12 10:51] dajbelshaw commented on #73
Will be writing here: https://github.com/mozilla/webmaker-curriculum/wiki/Reflect-and-Review

[2015-01-12 10:52] dajbelshaw commented on #64
Will be writing this here: https://github.com/mozilla/webmaker-curriculum/wiki/How-to-write-Learning-Objectives

[2015-01-12 10:53] dajbelshaw commented on #89
Writing this here: https://github.com/mozilla/webmaker-curriculum/wiki/Glossary

[2015-01-12 10:55] dajbelshaw commented on #74
Writing this here: https://github.com/mozilla/webmaker-curriculum/wiki/How-to-remix-Webmaker-Club-activities

[2015-01-12 10:57] dajbelshaw commented on #73
On second thoughts, although I'll build it out on the wiki, this should probably be transferred to a shinier github.io page. What do you think, @LauraHilliger?

[2015-01-12 11:32] dajbelshaw commented on #64
OK, would appreciate a review from @LauraHilliger and @smithisgeneric before proceeding further. Have a look at this: https://github.com/mozilla/webmaker-curriculum/wiki/How-to-write-Learning-Objectives

[2015-01-12 11:33] dajbelshaw commented on #89
Please do dump some terms in and I'll have a go at writing some definitions :)

https://github.com/mozilla/webmaker-curriculum/wiki/Glossary

[2015-01-12 11:50] LauraHilliger commented on #64
looks great. I would add examples under blooms headers, probably will help folks (who aren't edunerds) to understand.

[2015-01-12 11:59] LauraHilliger commented on #73
Both? Wiki for the explanation of what that section IS and why it's important, and the section on each overview page (e.g. http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html ) implementing the template

Can we come up with more accessible ways to say "individual" "peer" and "expert" "assessment"? Assessment sounds so nerdy...maybe we can have some fun langu

[2015-01-12 13:42] LauraHilliger commented on #81
ok, made a random page: http://laura.makes.org/goggles/lauras-remix-of-google-2 will need to wait a bit to see if you can search for "batify the baboonal" and return results....

[2015-01-12 16:20] LauraHilliger opened #92 "Toggle Navigation (mobile) doesn't work"
I tried to figure it out for a while and eventually said, "Meh, I'm asking @secretrobotron for help".

I've built in a nav bar onto all the curriculum pages [for example](http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/). The nav should disappear and become toggleable when you size the browser window. It disappears, but...well it just disappears.

[2015-01-12 19:00] keyboardkat commented on #85
Not on Github (they've chosen to use Google Drive instead for this purpose) but Ladies Learning Code has shared this great set of curriculum packs with us, too: http://ladieslearningcode.com/making-makers/

[2015-01-12 19:01] keyboardkat commented on #81
haha, i would love to see this work...

[2015-01-12 19:02] keyboardkat commented on #80
Cool, moving to #81 now.

[2015-01-12 19:09] keyboardkat commented on #50
This is a really awesome design, @LauraHilliger. I love it!

i'd suggest leaving a slot or two in for additional images on the bottom left-hand of the window, in the grey area that's currently blank (in case folks have thumbnails or pics from events they'd like to slot in).

Also, where can you find the raw code for this? Feel like I'm missing a link somewhere!

[2015-01-12 19:32] smithisgeneric commented on #79
Here are some questions that may be helpful:

1) In the Introduction round, did your learners discuss key indicators for credible information? Check which indicators were identified and discussed:
* Name of author
* Date
* Use of references
* Domain structure (i.e. edu, or gov)
* Writing quality
* Visuals/design
* Other (please specify)
* Unsure
* Not applicable / did not attempt

2) In the introd

[2015-01-12 19:39] smithisgeneric commented on #88
These objective look fine to me.  I am noticing some overlap (i.e. between credibility and search) but think that this is fine because competencies and skills oftern overlap in production-centered activities.

[2015-01-12 19:44] smithisgeneric commented on #50
I assume the Web Literacy Competencies section will act as a menu to access other related activities?  If there are multiple activities under a single competency this section will need some design work.

[2015-01-12 20:27] secretrobotron commented on #92
I'd look into the classes and media-queries of some of the elements you're using. For example `.navbar-nav` is wrapped in `@media (min-width: 768px)`, so some of its properties are only applied when the window is > 768px in width.

This might be a consequence of using maker strap, and @k88hudson might be smarter than me there.

[2015-01-12 20:39] k88hudson commented on #92
I *do* see the toggle button when the window is smaller, but you need to use some javascript to hide/show your menu when that button is clicked.

You can do this using http://getbootstrap.com/javascript/#collapse

[2015-01-12 20:39] k88hudson commented on #92
Alternatively, you can just add/remove the `collapse` class

[2015-01-13 10:18] dajbelshaw commented on #81
Hey @keyboardkat it is indeed the page you link to. As you can see, there's a 'Learn to Remix Content' button that takes you through to a (GitHub) [wiki page](https://github.com/mozilla/webmaker-curriculum/wiki/How-to-remix-Learning-Activities). Do feel free to help with that!

[2015-01-13 10:19] dajbelshaw commented on #73
Oh yeah, absolutely, they're just placeholders. I'll build it out on the wiki, and then it can be fun-ified. ;)

[2015-01-13 10:29] dajbelshaw commented on #64
Thanks @LauraHilliger, have added examples under each part of Blooms

[2015-01-13 13:01] LauraHilliger commented on #50
@keyboardkat code for the first module is here: https://github.com/mozilla/webmaker-curriculum/tree/master/WebLiteracyBasics-I

If you have a couple image sugggestions, I'll build them in now. Then we can copy/paste this session's code for all the other ones.

For now, we're doing pretty rudimentary html/css – once the content is finished, we'll likely need Product to help us build the infrastruct

[2015-01-13 13:02] LauraHilliger commented on #79
reopening so that we know we need to produce something people can fill in. @smithisgeneric might you put this in the form of a google form?

[2015-01-13 13:27] dajbelshaw commented on #79
If we're not localising this in the first instance (i.e. if it's all going to be English for testing) perhaps we could have a friendly 30-second introductory video. That approach seemed to work well for the Web Literacy Map consultation.

[2015-01-13 17:49] smithisgeneric commented on #79
Hello, because of my non-staff role with Mozilla, I need to draw a boundary line.  I am not able to be engaged in creating e-forms, sending out to participants, or analyzing responses.  I will follow up with @dajbelshaw @LauraHilliger and Lainie to clarify.

[2015-01-13 21:34] keyboardkat commented on #50
re photos on lefthand side: perhaps a section entitled "Activity Photos" or something like it, with:

* https://farm9.staticflickr.com/8129/8707135735_fdacf1a0a4_b.jpg "Groupwork in action with the Mozilla Indonesia community."
* https://farm4.staticflickr.com/3759/12030099454_7f80baaa4b_b.jpg "Groups break into teams at a Hive Chicago maker party"

Ideally we'd have pictures to use of people usin

[2015-01-14 09:13] dajbelshaw commented on #79
Not a problem. Have assigned myself to this - thanks for doing the hard part @smithisgeneric!

[2015-01-14 09:16] dajbelshaw commented on #88
I think we need to re-open this to get the questions written. Wondering if @smithisgeneric is happy *writing* the questions (and then I can move to Google Forms) or...?

[2015-01-14 09:42] LauraHilliger commented on #50
Ok, I've added an image section, and we can replace the photos with people doing the Kraken activity later. @iamjessklein @keyboardkat @dajbelshaw have anymore comments on layout for this page or should we could close this issue?

http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html

[2015-01-14 10:41] LauraHilliger commented on #92
hmm...i think you cats are overestimating my skillz (or rather the time I have to go about improving them)...is the plugin included in makerstrap? This is where I'm at, but it doesn't work:

'''
<div>

                	<button type="button" class="navbar-toggle" ng-click="collapseToggle()" data-toggle="collapse" aria-expanded="false" aria-controls="collapseNav" data-target="collapseNav">
						<sp

[2015-01-14 10:45] dajbelshaw commented on #73
OK, more content needed, but first draft: https://github.com/mozilla/webmaker-curriculum/wiki/Reflect-and-Review

/ cc @LauraHilliger

[2015-01-14 10:46] LauraHilliger commented on #81
CLosing this ticket. XRay goggles won't work for seo battle. We should use the activity @dajbelshaw put together in #80.

@keyboardkat not sure if you clicked through, but I transferred the kraken activity to github here: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/credibility-kraken.html
code: https://github.com/mozilla/webmaker-curriculum/blob/master/WebLiteracyBasics-I/cred

[2015-01-14 10:47] #81 closed

[2015-01-14 11:45] LauraHilliger opened #96 "Decide on copy for discourse link"
We should get into the habit of sending people to discourse from our wiki pages. From #73 I added

Have thoughts on this? Join our community forum!

and link to discourse.webmaker.org

This issue is to finalize the copy and the URL - should we send people to the clubs category? Or perhaps the "Training>Exploring" which is about pedagogy? What should this say?

cc/ @keyboardkat @iamjessklein @dajbe

[2015-01-14 11:47] LauraHilliger commented on #73
I added a link to discourse to this page, but also filed #96

@keyboardkat Can you think of fun ways to say:

Individual assessment
Peer assessment
Expert assessment

Would go under review and reflect, as headers to the bullet points on: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html

[2015-01-14 11:49] LauraHilliger commented on #65
I added a header to the pages: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html

Thoughts?

[2015-01-14 12:46] LauraHilliger opened #97 "Roadmap new curricular structure"
**Update:** latest iteration is [here](https://github.com/mozilla/webmaker-curriculum/issues/97#issuecomment-73267007)

----

We have:

*Web Literacy Basics I*
* Reading the Web: Credibility
* Reading the Web: Search
* Writing the Web: Composing for the Web
* Participating on the Web: Open Practices

We need to define where we go from there. Potentially, we could use the original meta-arc and remi

[2015-01-14 13:19] dajbelshaw commented on #97
I guess it depends what our theory is around progression. To what extent is Web Literacy Basics I-III a progression - as opposed to a smörgåsbord - of activities?

Suggest we make enhancements / build out the wiki until @thornet returns from PTO.

[2015-01-14 13:25] dajbelshaw commented on #80
Copy/pasting from etherpad...

-----
## Session 1b: Reading the Web: Search (45 mins)**

### Competencies
* Search
* Credibility

### Skills
* Finding real-time or time-sensitive information using a range of search techniques
* Using keywords, search operators, and keyboard shortcuts to make web searches more efficient
* Making judgments based on technical and design characteristics to assess the

[2015-01-14 13:26] dajbelshaw commented on #65
I think it's looking amazeballs. Any more on the design front would be gilding the lily for testing, IMO.

[2015-01-14 13:27] dajbelshaw commented on #73
Would also be good to feature that on the [Reflect and Review](https://github.com/mozilla/webmaker-curriculum/wiki/Reflect-and-Review) section of the wiki.

[2015-01-14 13:31] dajbelshaw commented on #96
Rather than directing people to a specific thread, I think we should create a custom footer for the wiki to be shown on *all* pages. This can to inform people of the #TTW forum (generally) and the specific category.

Sample text below:

[2015-01-14 13:34] dajbelshaw commented on #50
The mobile view is *slightly* wonky (some divs not in alignment and buttons in odd places) but for testing it's an R+ from me. The desktop view is what people will be using most and it's looking gooooood.

[2015-01-14 13:56] dajbelshaw commented on #79
Here we go... http://goo.gl/forms/gnrTJ3d2AW

[2015-01-14 14:00] smithisgeneric commented on #88
Happy to advise on appropriate questions.  It is easiest to view the learning activities.  Are [the activities in issue 80] (https://github.com/mozilla/webmaker-curriculum/issues/80) the firm version?

[2015-01-14 14:04] dajbelshaw commented on #88
I *think* so. AFAIK @LauraHilliger is happy with it. Just waiting for @keyboardkat and @omnignorant to review, I guess.

[2015-01-14 14:15] LauraHilliger commented on #79
Nice! Thanks @dajbelshaw and @smithisgeneric! Closing this issue, and filing new ones for comms stuff.

[2015-01-14 14:25] LauraHilliger opened #98 "COMMS: Invite Club cohorts to fill in Credibility questionnaire."
The thought was to have Club testers

1. [Run the session](http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html)
2. [Fill in the questionnaire](http://goo.gl/forms/gnrTJ3d2AW)

We'll need comms to invite folks to do so. I'm thinking just a simple bit of email text that we can send to the folks who agreed to help with testing.

[2015-01-14 15:17] ldecoursy commented on #79
Think for testing purposes we want to have this broken into pre-post, and something that the facilitators and learners can take so we really test the learning objectives and ensure they're solid.

[2015-01-14 15:25] dajbelshaw commented on #79
We should review the learning objectives ahead of time with staff and mentors. It's the *activities* we need to field test.

Definitely up for pre-post testing, but are we envisaging putting learners in front of a Google Form from the get-go? Can’t mentors ascertain levels of understanding by methods we suggest?

[2015-01-14 15:27] ldecoursy commented on #79
From the 1:1 convos, I personally have been hearing a lot of people want resources they can print, so I'd think the pre-post should be printable too. Agree we want to test the activities, but in part it's testing them against the learning objectives.

[2015-01-14 15:31] dajbelshaw commented on #79
Thanks @ldecoursy. Happy to create pre-post questionnaires, but will need guidance as to platform if they need printing too. How will we get the data from the pencil-and-paper forms?

Controlling variables, we need to be *either* testing learning objectives *or* test activities. We'll get woolly feedback otherwise. Let's get the learning objectives reviewed by staff and/or community first - @smith

[2015-01-14 15:36] LauraHilliger commented on #79
In my mind it's "Does this activity teach these learning objectives", since judging prior knowledge will be hard for anyone who doesn't know their learners well, maybe the pre questionnaire is just a few questions mentors *think* about before their session. Some guidance about on-the-fly assessment of learners. Then we could formulate a question or 2 on the post questionnaire that asks if they tho

[2015-01-14 15:37] LauraHilliger commented on #79
Oh, and on the printing piece - to @dajbelshaw's point, how would we collect that data? Wouldn't it be easier, for the questionnaire at least, to fill in a form?

Curriculum as printable = yay. Filing an issue on that.

[2015-01-14 15:40] LauraHilliger opened #99 "Make Curriculum Printable"
Printable curriculum is widely requested (as is tablet/mobile optimized) Is there a way we can write a little thing that makes printing our curriculum super easy?

If I have this URL:

http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-credibility.html

and click "print", can we automagically print the activities it links to as well? What about CSS for styling prints?

cc/

[2015-01-14 15:46] #96 closed

[2015-01-14 15:56] toolness commented on #99
I have found it very annoyingly hard to make professional-looking PDF/printable versions of HTML pages. This is partly because there is a whole subset of CSS specific to print (for specifying things like page breaks) that has very little browser support. There is a program called [Prince](http://www.princexml.com/) that is specifically made to support all that print CSS for HTML->PDF generation, b

[2015-01-14 16:05] iamjessklein commented on #64
Nice first stab @dajbelshaw
I suspect that it would be useful if there was some kind of tagging system that either built off of Blooms or was a recommended tag so that it would be possible to filter like-minded learning objectives. If anything, possibly just indicating that people should tag the learning objectives with the Web Literacy that they are trying to help develop.

[2015-01-14 16:18] iamjessklein commented on #65
This looks great, particularly for testing.
My comment about the buttons might be just that they aren't high contrast enough on hover, but really that doesn't seem to be impeding testing this out.

I would take a look at the "pledge" button - as it is floating when I resize the browser.

[2015-01-14 16:21] iamjessklein commented on #50
My main concern is the few glitches in terms of responsiveness (the pledge button etc) and I haven't checked how this looks in browsers other than Firefox, but I would take a look at that. Otherwise for this testing I would say ship it. :shipit:

[2015-01-14 16:31] LauraHilliger commented on #50
agreed. mobile is janky, but for session 1 testing. F it, shipping. Opening a new issue for mobile optimization (for which I'd like a *real* dev ;)

[2015-01-14 16:31] #50 closed

[2015-01-14 16:32] LauraHilliger opened #100 "Optimize for Mobile"
The new template doesn't look snazzy on mobile, buttons move around etc. This issue is to make our curriculum repo mobile optimized :)

[2015-01-14 16:39] dajbelshaw commented on #64
Thanks @iamjessklein! I think there was a bug assigned to @toolness in Bugzilla a while back that talked about Beginner / Intermediate / Advanced. We also might want to start tagging by skill?

All of this is grist for the Web Literacy Map v1.5 community calls - starting tomorrow! https://wiki.mozilla.org/Webmaker/WebLiteracyMap/v1.5

[2015-01-14 17:17] jgmac1106 commented on #99
TLDR: Ink is expensive. Keep it simple

Maybe you shouldn't try to make your paper design look like you CSS Design. People who print worry about ink, especially in developing nations or public schools.

Make it as plain text as possible.

Couldn't you just quickly make a template.

Goal:
Competencies
Objectives:
Tools:
Learning Activities
  Title
  Description
  Time
Reflect and review

Maybe some

[2015-01-14 17:18] toolness commented on #99
Hmm, good point about saving ink--if it doesn't need to look like a super-slick facsimile of the webpage, then going with a really simple CSS print stylesheet could work really well!

[2015-01-14 19:46] keyboardkat commented on #50
mmmm, I'm LOVIN' it. looks awsm w photos. shall move to mobile thread.

[2015-01-14 19:50] keyboardkat commented on #80
(moving back from #81 to comment on this specific activity suggestion...)

I like what you've got going on here, @dajbelshaw. I'm also wondering whether it might be useful to see if any of our lead web literacy club facilitators already doing some of this work with their learners might have curriculum *already* made for Search.

Will get them involved now, in case!

[2015-01-14 19:51] keyboardkat commented on #88
I'm going to ask a few community members to weigh in re: the curriculum itself on Issue #80, but as I get the sense these Learning Objectives are not entirely dependent on said curriculum's content, I'd say go for it?

[2015-01-14 20:44] keyboardkat opened #105 "Curriculum build: Appmaker for Canadian educators"
Goal: Build a teaching kit that aggregates Appmaker activities useful for Canadian educators for a CIRA granted project. Format will be in Github pages, but Thimble friendly.

Sections to include, from @smithisgeneric:
* Learning objectives
* Interlinked activities to teach web literacy skills
* Template for remix to meet Canadian educators needs (i.e. "remix" button and contextualization of some

[2015-01-14 20:49] keyboardkat commented on #105
Activities to include:

* [Mobile design kit](https://jess.makes.org/thimble/MTMyMzM2ODQ0OA==/mobile-design-kit)
* Appmaker music tutorial ( @smithisgeneric do you have a link for this? can't find on site)
* Becky's cat tutorial (@smithisgeneric, do you have a link for this?)
* Choose your own adventure logic pathway by @LauraHilliger

Any others?

[2015-01-14 20:59] secretrobotron commented on #105
While activity was hot, I was compiling stuff in this gallery: https://webmaker.org/gallery/list/53fe24bc21d4817b6c000aad

Might be helpful for now. I'll have a look around though!

[2015-01-14 21:01] smithisgeneric commented on #105
Start of the links track down for @keyboardkat

Music tutorial https://secretrobotron.makes.org/thimble/OTA1NzA3NTIw/make-music-with-appmaker
Trivia app https://second-fly-746.webmak.es/install

[2015-01-15 09:27] LauraHilliger opened #106 "Coagulate our talents to help level up community"
It seems like a fantabulous idea  to upgrade the training site to be community built, with the support resources and co-design guides for our curriculum construction and community support activities. I see, dare I say, pathways :cocktail: between loads of things we're working on:

@Lucyeoh and @Saallen are putting together [excellent videos](https://air.mozilla.org/teach-the-web-talks-v1/) for lev

[2015-01-15 09:28] #106 closed

[2015-01-15 09:54] dajbelshaw commented on #99
If it's going to be too much hassle, we could just direct people towards sites like http://www.printfriendly.com

[2015-01-15 09:57] dajbelshaw commented on #80
Thanks @keyboardkat! Looking forward to testing this out (I'm hopefully setting up a Webmaker Club with a friend soon) but would love other ideas!

[2015-01-15 10:57] LauraHilliger commented on #88
@smithisgeneric due to #81 I think these activities/VERY similar activities are firm. @keyboardkat or someone reading this might come up with a slightly different search activity but I agree with Kat - the learning objectives can be fixed in this case.

[2015-01-15 12:42] iamjessklein commented on #105
+ @laurad who might have some input as to how we can tweak some of the templates based on her user testing work.

[2015-01-15 12:48] iamjessklein commented on #80
It might not be ready yet - but @toolness and Matthew are [working on a Firefox -> Webmaker add-on](https://redpen.io/p/kr680289eecc1ef9b4) that allows users to identify assets and lightly remix them. I imagine that you can insert the that tool into the activity you are already creating.

[2015-01-15 13:55] LauraHilliger commented on #99
@andylolz said on Twitter that Code Club does server side generation using phantom.js

So seems like we have two options - make it easy with a click of a button or create resources that point to an appropriate service.

[2015-01-15 14:21] toolness commented on #99
Er, if we just provide a good CSS print stylesheet that minimizes ink usage and maintains decent readability--but doesn't look ultra professional--then we can just tell them to use their browser's "print this page" feature, right?

That's essentially all phantomjs is doing--it's just applying the print stylesheet and printing to a PDF. Granted, there are use-cases where PDF files are better than a

[2015-01-15 14:23] toolness commented on #99
Er, I suppose I should also mention that different browsers do print differently, so there is value in using PhantomJS to always print a consistently decent-looking PDF. But we could also just recommend a specific browser for printing.

[2015-01-15 14:26] dajbelshaw commented on #99
I'd love to see statistics of people requesting a print function versus actual usage.

Another way to slice-and-dice this would be to version the resources, and create a PDF alternative. The understanding would be that the PDF is 'best effort' and may (for example) be at v1.0 while the web version is at v1.2. Just a thought.

[2015-01-15 14:57] jgmac1106 commented on #99
I don't know the techno mumbo jumbo. Just teachers. Make it like a recipe
website. It looks all complicated on the web but when you hit the print
icon you get a nice clean sheet with nothing but directions.

On Thu Jan 15 2015 at 9:26:28 AM Doug Belshaw <notifications@github.com>
wrote:

[2015-01-15 15:13] toolness commented on #99
Yep, that is precisely just a well-made print CSS stylesheet. There's a good Smashing guide on [How To Set Up A Print Style Sheet](http://www.smashingmagazine.com/2011/11/24/how-to-set-up-a-print-style-sheet/) from 2011... If you need help with this, I can assist.

[2015-01-15 15:15] iamjessklein commented on #99
+1 @jgmac1106 -  plus many of the most useful supplemental materials are printable - I have them in [like every kit](https://jess.makes.org/thimble/MTEzMjMzMTI2NA==/actionable-feedback) I have ever made for Webmaker.

[2015-01-16 21:44] keyboardkat commented on #105
Thanks so much for the links, @secretrobotron @smithisgeneric! Making a list and drafting the first draft now!

[2015-01-18 08:33] LauraHilliger opened #108 "Develop modules for Feature Phone users in Nigeria and South Africa"
We are partnering with Every1Mobile to #TeachTheWeb to feature phone users in Nigeria and South Africa. This is a pilot project.

**Target Audience 18 - 24 year olds** in these countries. Potentially millions of people. Due to connection in these countries, and the fact that we are developing for a feature phone, our modules for the pilot will be text based with limited interactivity. Typical func

[2015-01-19 15:09] dajbelshaw commented on #108
Cool. I seem to remember from my mobile learning days that Geoff Stead (now at Qualcomm) did some stuff around mxit in South Africa. I'll ask him and John Traxler for info.

[2015-01-19 15:29] jgmac1106 commented on #80
I am attaching a storify tutorial I made: http://jgregorymcverry.com/storify-as-a-space-for-presence-assessment/ (overview of storify...note it is not that open of a tool) and a tutorial on how to use storify:  http://jgregorymcverry.com/learning-event-nine-in-walkmyworld/

I think one way to make search production centered is to have webmakers design tutorials on how to search. Here is a brief ex

[2015-01-20 02:46] geoffstead commented on #108
Hi there - thanks for looping me in, Doug.

Several related tools / projects / teams I would review in this are:
1) mxit is a huge social media platform in southern africa, and works on old-school phones as well as smart ones. Many high profile learning and outreach initiatives have been run on it (and no doubt still are). every1Mobile might well be using them. (if not, make sure you are not missi

[2015-01-20 09:23] dajbelshaw commented on #108
This is *great* stuff, @geoffstead  - thanks so much! Knew you'd be super-helpful. :-D

[2015-01-20 13:09] LauraHilliger commented on #78
I added a bit to this page, but we could build this out a bit. Examples might be the best way, we should ask folks already running clubs/teaching the web how they remix context and take notes!

https://github.com/mozilla/webmaker-curriculum/wiki/How-to-remix-Learning-Activities

[2015-01-20 13:19] LauraHilliger opened #111 "Create learning objectives for 2. Writing the Web: Composing for the Web"
Session 2 of Web Literacy Basics I should focus on the competency Composing for the Web. The original meta arc included a set of activities for this competency as well. #112 is the activity creation issue.

-----
**Update:** after discussion with community, we now have learning objectives:

* Summarize the most commonly-used HTML tags
* Use HTML tags to re-structure a web page
* Create a web page

[2015-01-20 13:23] dajbelshaw commented on #111
#onit https://webmaker.org/en-US/resources/literacy/weblit-Composing

[2015-01-20 13:23] LauraHilliger opened #112 "Create activity for 2. Writing for the Web: Composing for the Web"
#111 is covering the learning objectives, and this ticket is for the activity. See also #113  In the original meta arc I made these suggestions for Composing (but perhaps the community wants to discuss / share what they've got?)

**Writing for the Web: Composing HTML** (45 mins) This unit demystifies HTML.
 * (5 mins) Introduction round
 * (10 mins) Your first Webpage: Facilitator explains the 5 b

[2015-01-20 13:34] dajbelshaw commented on #112
Suggest we might want to separate these lessons out, but for now just flagging that we might want to dive into HTML using something like this: http://www.99lime.com/_bak/topics/you-only-need-10-tags/

[2015-01-20 13:36] LauraHilliger commented on #74
@dajbelshaw and I chatted quickly and decided to make a "How to Remix Context" training module. [We've filed that issue in the Webmaker Training Repo](https://github.com/mozilla/school-of-webmaking/issues/240)

In the meantime, I've edited the name and @dajbelshaw has already [drafted the wiki](https://github.com/mozilla/webmaker-curriculum/wiki/How-to-remix-Webmaker-Club-activities). Adding QA ta

[2015-01-20 13:38] LauraHilliger opened #113 "Create activity for 2. Writing for the Web: Composing [CSS]"
#111 is covering the learning objectives, and this ticket is for the CSS activity. See also #112

 In the original meta arc I made these suggestions for Composing (but perhaps the community wants to discuss / share what they've got?)

**Writing for the Web: Composing CSS** (45 mins) This unit helps learners start to add style to their webpages.
* (5 mins) Introduction round
* (10 mins) Let’s write

[2015-01-20 13:39] dajbelshaw opened #114 "Create planning sheet for Reading the Web: Search activity"
As mentioned in the comments under Issue #80

[2015-01-20 13:41] dajbelshaw commented on #79
Need input from @ldecoursy r.e. scope of pre questionnaire before proceeding.

[2015-01-20 13:43] LauraHilliger opened #115 "QA Clubs Curriculum on Mobile"
Filing now to remind us to do a full QA on the curriculum stuff before the [Module 1 compilation milestone](https://github.com/mozilla/webmaker-curriculum/milestones/Compile%20tested%20and%20iterated%201st%20module).

[2015-01-20 13:49] LauraHilliger commented on #65
Closing for now. We should talk design cleanup though. It's using MakerStrap styles (e.g. the hover color). And the floating btn is covered, I think in #100

Also filed #115 for hiccups in my crappy code :computer:

[2015-01-20 13:49] #65 closed

[2015-01-20 14:02] dajbelshaw commented on #113
Does this activity depend upon **Writing for the Web: Composing HTML**? Do learners *have* to add CSS to something they've already created? Should we include an option for those who may have missed that session?

[2015-01-20 14:28] LauraHilliger commented on #113
We should try to make them standalone. A tiny bit of CSS in the HTML and a tiny bit of HTML in the CSS session. Could try to do that by having the HTML session use a few inline styles, and the CSS session having a basic webpage structure. I think it's about where we put the weight.

[2015-01-20 14:30] LauraHilliger opened #116 "Make questionnaires for Composing learning objectives"
We should make a judgement call on how useful the Session 1 questionnaires are. #79 and #88

[2015-01-20 14:34] dajbelshaw commented on #113
Cool. We could even just have an external stylesheet like [Makerstrap](http://mozilla.github.io/makerstrap/demo/#/) or [purecss.io](http://purecss.io) to get out their way for the HTML activity.

[2015-01-20 14:50] LauraHilliger opened #117 "Prepare codesign asks"
Paging @keyboardkat and @dajbelshaw

After talking with Doug, we thought it would be a good idea to specifically invite the community in the clubs call next week to help us design the curriculum. I added an item to the agenda here: https://teach.etherpad.mozilla.org/club-calls

Maybe we should also think about writing a blog post about codesign and including it with the monthly @hannahkane publish

[2015-01-20 14:56] LauraHilliger opened #118 "Write learning objectives for 3. Participating on the Web: Open Practices"
The final session for Web Literacy Basics I should be Open Practices, and boy do we know about that :wink: On [Training](http://training.webmakerprototypes.org), we have a lot of diverse content that we can pull from if were looking for language, but also collaborative activities like [scrumming](https://laura.makes.org/thimble/mini-makers-scrum), [mindmapping](https://laura.makes.org/thimble/coll

[2015-01-20 15:00] dajbelshaw commented on #117
Absolutely - we could publish the post on the Webmaker blog. :)

[2015-01-20 15:02] dajbelshaw commented on #118
I guess the issue here might be that we know *too* much and therefore lack empathy with those new to this area. I'm a big fan of the things you mention, but we could start with just **why work open?**

http://openmatt.org/2011/04/06/how-to-work-open/

[2015-01-20 15:38] jgmac1106 commented on #78
You can remix the content and the context:
- Content-Change the Kraken to another local legend or myth. OR  Differentiating based on age: requirement "Is it real or is it not", is developmentally appropriate for younger grades but may not be enough for older clubs. For example some one might add a bit about, Now go investigate the author of your credible sources. What makes her an expert.
- Contex

[2015-01-20 18:26] ldecoursy commented on #79
For testing purposes in particular, we should do short (3-ish question) pre/post surveys that map directly to the learning objectives that we can ask mentors/facilitators and learners to fill out. These questions should help us assess the quality of the activity/experience and whether they're helping people meet the learning objectives we've outlined.

For example, for Kraken the  Code:
* How do y

[2015-01-20 18:38] thornet commented on #80
Do we have either:

i) an alternative activity that is offline
ii) a different ending to SEO battle that would work (ideally without creating an account anywhere)?

@keyboardkat @LauraHilliger @dajbelshaw @omnignorant

A lot of feedback from the interviews is that offline is needed; it'd be great to offer that in this section.

Here's an offline alternative from Mouse that seems good. However, Mer

[2015-01-20 18:55] thornet opened #119 "Assign priorities and pacing to our issues"
There's a lot of filed issues (that's good). But it's hard to parse them and see when things are due.

Could we get a scheme for prioritizing and pacing issues?

Proposal:
* P1: must happen this "cycle"
* P2: should happen, or do if we have time.
* [date]: heartbeat dates are probably best here, but sometimes we'll have other deadlines to hit.

Happy to help sift and label.

[2015-01-20 19:00] thornet opened #120 "Create landing page for curriculum testing"
@LauraHilliger: could we ship a landing page that explains how to test the first section of Web LIt Basics I?

We should make it a super simple, sequenced list.

Proposal:

1. Brief intro.
2. Pre questionnaire.
3. List of activities linking off to full pages.
4. Post questionnaire.
5. Reflection.

Can help with copy.

[2015-01-20 20:49] jgmac1106 commented on #80
Here are two offline search tasks I have done in the past (and one I have never tried):

- Given a broad research question can you widdle this down into topics and then change those topics into search terms?
-Annotate a search result page. Actually very important. There are reoccuring text structures than be reinforced.

-Build a results page. Create two sets of cards. One with the search terms an

[2015-01-20 21:12] keyboardkat commented on #80
Thanks for your additions @jgmac1106 -- these are great ideas, and I love the creative approaches you take to Storify! On Twitter you mention you made a Storify to explain what you did with Storify (ha) -- do you have a link for that?

@ all: Looks like we'll hold back on asking other Webmaker community members to dive into this bug for now, since we're still building the codesign strategy for thi

[2015-01-20 21:21] keyboardkat commented on #117
cheers @LauraHilliger @dajbelshaw - this is definitely what i'd like to happen. i've added specific names into the etherpad, with a call-out for others to get involved who aren't listed yet.

@dajbelshaw shall we take a crack at it? maybe tomorrow? i'll be around...

[2015-01-20 21:25] jgmac1106 commented on #80
@keyboardkat I threw both of my examples up of my stuff on storify. I can easily make one based on @dajbelshaw Storify lesson plan.

Only thing I might add to the storify lesson is to write a source analysis under each event added. Why is this piece relevant? Who shared the link, why do you trust this person to curate? Who is the source of the link? What makes the author or publisher credible?

@k

[2015-01-20 21:35] jgmac1106 commented on #80
But this sounds more like credibility. Re-read the Storify lesson plan. It already gets at relevancy. My suggestions were source judgments and wouldn't belong in a search lesson..

[2015-01-21 10:34] dajbelshaw commented on #79
Awesome. Thanks @ldecoursy! Once @smithisgeneric has created the pre/post questions (which I'm more than happy to help with) I'll transfer them to a Google Form :)

[2015-01-21 10:36] dajbelshaw commented on #119
+1 to this. I think that the main MoFo planning repo is/has moved to P1 and P2 using labels and heartbeats are indicated using milestones. I'll make a start with @LauraHilliger today. :)

[2015-01-21 10:44] dajbelshaw commented on #33
Can we close this issue now? If not, could you add a milestone please, @LauraHilliger? :)

[2015-01-21 10:45] dajbelshaw commented on #32
Can we close this now, @LauraHilliger? If not, could you add a milestone please? :)

[2015-01-21 10:51] dajbelshaw commented on #119
OK, so I've:

* Created P1/P2 labels (same colour as at /plan)
* Changed and merged milestones to be named after heartbeats

Every issue has a milestone apart from a couple of things @LauraHilliger needs to review. All January 30 milestone issues have a P1/P2 tag except Issue #117 which is phrased as a question.

https://github.com/mozilla/webmaker-curriculum/issues?q=is%3Aopen+is%3Aissue+mileston

[2015-01-21 10:53] thornet commented on #119
Awesome! Thanks. Let's try out these labels and re-evaluate after a bit to see if we need to adjust.

[2015-01-21 10:53] #119 closed

[2015-01-21 10:55] dajbelshaw commented on #120
Created wiki page: https://github.com/mozilla/webmaker-curriculum/wiki/How-to-test-Web-Literacy-Basics-I

[2015-01-21 10:57] dajbelshaw commented on #117
Definitely. As I put in an email earlier, I'd love to talk through your experience of co-design with 10+ people. There's the additional challenge of everyone being geographically dispersed, but I'm definitely looking forward to the challenge! :)

[2015-01-21 11:00] dajbelshaw commented on #80
Happy to re-scope the activity to be offline (might be nice for some of the sessions to be entirely paper-based!) but I guess we need to make a decision as to whether we going to:

A) Create *two* activities (one online, one offline) that both meet the learning objectives
B) Create *one* activity that works offline

Thoughts? If it's the former, we'll need to separate out this thread into a couple

[2015-01-21 11:26] dajbelshaw commented on #111
OK, first go at three learning objectives using [this wiki page](https://github.com/mozilla/webmaker-curriculum/wiki/How-to-write-Learning-Objectives) and the [Composing for the Web](https://webmaker.org/en-US/resources/literacy/weblit-Composing) skills as guidance *(a.k.a. dogfooding!)*

* Summarize the 10 most commonly-used HTML tags*
* Use HTML tags to re-structure a basic web page
* Create a w

[2015-01-21 11:31] thornet commented on #80
Based on the above suggestions, what if you fork depending on your connectivity:

1. (on/offline) Annotate Search Results.
   - If offline, mentor can bring print-outs of prior searches.
   - Include @jgmac1106's source analysis as part of the annotation, so we build on Credibility.

2a (online). Zero Search Results Hunt.
   - Take first part of SEO Battle

2b (offline). Ping Kong.
   - Use the se

[2015-01-21 11:45] thornet commented on #80
Or, for simplicity, we just try Ping Kong.

Part of testing is calibrating the difficulty level, and Ping Kong is ready to go. (We need this by end of week).

[2015-01-21 11:54] thornet commented on #120
Thanks! Added the key info.

@ldecoursy: mind reviewing? We should set the dates for the calls as well.

[2015-01-21 12:21] LauraHilliger commented on #120
Do you want to stick with the wiki as the landing? Might actually be better because people can poke around in the github and see what's what. They'll also see the index of other wiki pages.

Otherwise, we can use the github.io landing page to be whatever we need it to be: http://mozilla.github.io/webmaker-curriculum/

[2015-01-21 12:51] dajbelshaw commented on #120
After next week's call we should link to the co-design process for Web Literacy Basics II.

[2015-01-21 13:29] dajbelshaw opened #122 "Create guidance for mentors advertising their Club"
Just been on a call with [Chris Wilde](https://twitter.com/chriswilde78). He and I are going to be running a Club starting February 10th at [North Tyneside CLC](http://www.ntclc.org.uk/). :smiley_cat:

We're going to be putting together the event page over the next few days but I realised we don't have a good description of what Clubs *are*. To some extent the event description is the responsibili

[2015-01-21 13:32] dajbelshaw commented on #122
Let's iterate on this: https://github.com/mozilla/webmaker-curriculum/wiki/How-to-advertise-your-Webmaker-Club

[2015-01-21 15:41] LauraHilliger commented on #122
I also started mashing up @chadsansing's work from a while back. Have been hacking here:
http://mozilla.github.io/webmaker-curriculum/StartHere/starting-club.html

and there is another markdown file for running a club started in the StartHere folder: https://github.com/mozilla/webmaker-curriculum/tree/master/StartHere

[2015-01-21 15:51] dajbelshaw commented on #122
Oh sorry, I'll close this and remove that page. Should have looked more closely! Thanks, Laura :)

[2015-01-21 15:51] #122 closed

[2015-01-21 15:53] thornet commented on #80
In progress porting Ping Kong: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-search.html

[2015-01-21 15:56] dajbelshaw commented on #114
Closing this as we're going with a different activity so this is no longer required!

[2015-01-21 15:56] #114 closed

[2015-01-21 18:00] mickfuzz opened #123 "Map UK GCSE Curriculum to Webmaker Club curriculum (and Web Literacy Map v1.1)"
There's a page on the wiki.

https://github.com/mozilla/webmaker-curriculum/wiki/Mapping-Webmaker-to-GCSE-Computing

I'll make a start and invite people to help.

[2015-01-22 02:02] smithisgeneric commented on #79
There are still multiple visions expressed here for what the survey questions should be getting at.

Lainie, I'd caution that an open ended question like "How do you know if information you find on a website is valid/trustworthy?" may not elicit someone's full understanding of credibility and it therefore becomes problematic to do the before and after comparison you're striving for.

Here is my ne

[2015-01-22 02:49] ldecoursy commented on #79
Thank you @smithisgeneric! Chris also mentioned having the learners do pre/post surveys too - do you think we could just adapt the language in this case, or do you think we'd need different questions to get to whether or not they think they've learned what we think they should be learning. ;)

[2015-01-22 04:05] jgmac1106 commented on #79
Agree with @dajbelshaw re you testing learning objectives and gains or testing material. I caution you on trying to develop measures of gsins this esrly on. I have spent better part of a decade measuring (failing really) this stuff. It is hard.

For example the open ended question. How would that be coded? Number of idea units?

Since you are curriculum testing stay away from learning gains and fo

[2015-01-22 09:37] dajbelshaw commented on #123
Hey @mickfuzz thanks for this! Looking forward to seeing how it grows. :+1:

Be aware that v1.5 of the Web Literacy Map will be landing at the end of March - but it won't be *radically* different from v1.1 :)

[2015-01-22 09:38] dajbelshaw commented on #82
Renamed this for clarity and closed.

[2015-01-22 09:38] #82 closed

[2015-01-22 09:43] dajbelshaw opened #124 "Write learning objectives for Reading the Web: Web Mechanics (Ping Kong activity)"
We need to decide to what extent we're weaving in the **Infrastructure** competency here as well as it affects the learning objectives. At the moment we list **Search** but this activity doesn't cover this competency as far as I can tell!

PS I found [this diagram](https://raw.githubusercontent.com/wiki/basho/webmachine/images/http-headers-status-v3.png?imm_mid=0cb352&cmp=em-web-na-na-newsltr_2015

[2015-01-22 10:30] thornet commented on #120
Migrating wiki content to: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/index.html

[2015-01-22 10:35] dajbelshaw commented on #79
Have you got a link to the ORCA assessment, @jgmac1106? We haven't got time to do anything with statistical significance, but we should do the best job we can.

We're looking for a quick and easy indication that learners are learning *something* useful related to the learning objectives during the sessions. The constraint we've got is that purely mentor-based 'assessment' pre-supposes an existing

[2015-01-22 10:55] dajbelshaw commented on #120
Awesome. Happy to edit directly but ended up in merge conflicts hell with @LauraHilliger last time, so...

https://redpen.io/ez53a18df33c6c97b6

[2015-01-22 11:17] Algywilliams commented on #108
Thanks @Geoffstead. It's Algy from Every1Mobile here. Yes, we work very closely with Mxit and biNu - other platforms that we use for distribution are 2Go, Eskimo and Opera.

[2015-01-22 11:29] jgmac1106 commented on #79
I can email and find out about the ORCA. I attach links to my instruments..

https://www.surveymonkey.com/s/awoodbury
https://www.surveymonkey.com/s/bwoodbury
https://www.surveymonkey.com/s/cwoodbury
https://www.surveymonkey.com/s/dwoodbury

These probably work best in US though as they are about war of independence.

This last one is just critical evaluation instrument I made.

https://www.survey

[2015-01-22 11:47] thornet commented on #120
Big overhaul: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/

@dajbelshaw @ldecoursy: have a peek?

[2015-01-22 11:48] thornet commented on #120
Notes:
* need to add dates for calls
* need to update links for questionnaires and activities
* proofread

Also, feedback on layout is helpful!

[2015-01-22 11:55] thornet commented on #120
Notes:

- [ ] need to add dates for calls
- [ ] need to update links for questionnaires and activities
- [ ] proofread

Also, feedback on layout is helpful!

[2015-01-22 12:05] dajbelshaw commented on #120
Definitely like the way this is heading @thornet! :)

Some comments: https://redpen.io/uw33f7dfe0514b7e97

[2015-01-22 12:44] thornet commented on #124
Agree that Search isn't part of the Ping Kong activity. Seems like definitely Web Mechanics and some of Navigation though:

* Using and understanding the differences between URLs, IP addresses and search terms (WM)
* Reading, evaluating, and manipulating URLs (N)
* Using hyperlinks to access a range of resources on the web (N)

That O'Reilly diagram looks too complicated for this lesson.

[2015-01-22 13:25] dajbelshaw commented on #124
Oh absolutely, wasn't flagging for inclusion in the lesson as-is. Just popped into my inbox and seemed relevant given our discussion of a visual overview. Would need to be *way* simpler. :)

I like the offline twist on **Navigation**. Let's go with that. :+1:

----

PS Thinking about this made me think we should [combine 'Web Mechanics' and 'Infrastructure'](https://github.com/mozilla/webliteracym

[2015-01-22 13:46] dajbelshaw commented on #124
OK, here's a starter for ten, using a skill from each **Navigation**, **Web Mechanics** and **Infrastructure**. Per the above comment, the last of these will probably end up in Web Mechanics anyway!

* Read, evaluate and manipulate URLs
* Demonstrate the differences between URLs, IP addresses and search terms
* Describe the practical differences between the web and the Internet

Please review @smi

[2015-01-22 14:01] thornet commented on #80
Now at: http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-pingkong.html

@omnignorant @dajbelshaw @ldecoursy could you proofread?

- [] add learning objectives
- [] image attribution
- [] proofread
- [] check links

[2015-01-22 14:40] thornet opened #126 "Proofread Ping Kong activity"
http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-pingkong.html

@omnignorant @dajbelshaw @ldecoursy would you mind proofreading?

- [x] add learning objectives
- [x] image attribution
- [x] proofread
- [x] check links

[2015-01-22 14:40] thornet commented on #80
Closing this ticket and made one for proofreading: https://github.com/mozilla/webmaker-curriculum/issues/126

[2015-01-22 14:40] #80 closed

[2015-01-22 16:46] smithisgeneric commented on #79
There were many good points raised by @dajbelshaw @jgmac1106 @LauraHilliger @ldecoursy etc..

It looks like @ldecoursy wants a 3 question pre and post survey (6 questions total).  I am still reasonably satisfied with the suggestions I made (in the spirit of keeping it simple) but if you want to add a 4th post question, you may want to take up @dajbelshaw's idea to probe that "learners are learning

[2015-01-22 18:54] ldecoursy commented on #79
Thanks so much for all this expert insight @smithisgeneric @dajbelshaw @jgmac1106 @LauraHilliger!  Agree I think for now we're in a good place with @smithisgeneric's latest suggestions - maybe even weave that 4th question as a prompt for the deeper reflection in discourse... Let's try it and see how it goes :) I'll pop into a google form and get into the testing landing page that @thornet has been

[2015-01-22 21:54] ldecoursy commented on #120
Link to pre survey: http://goo.gl/forms/Uua6yKIy5E
Link to post survey: http://goo.gl/forms/ezm6IXWhhM

Where is the best place to feedback on the reflection prompts? I think we should add Karen's q:
What was the biggest "aha" moment for your learners during the activity?

[2015-01-22 22:00] ldecoursy commented on #126
I think this is lookin good. Do we know if there's an existing glossary for the terms at the top? Would be good to link to a useful resource if one exists, or perhaps someone can help put that together.

Once we have draft learning objectives (@dajbelshaw is that something you can help with?) we can see if @smithisgeneric can do similar pre/post questions for this activity.

[2015-01-22 22:05] ldecoursy commented on #124
Also @smithisgeneric would be great if you could draft 3 pre/post survey q's for this as you did for Kraken the Code!

[2015-01-23 10:15] dajbelshaw commented on #124
Just to be clear, @smithisgeneric & @ldecoursy  that's Issue #79 (I've renamed some issues to make it clearer!)

[2015-01-23 10:21] dajbelshaw commented on #64
Closing this as it does the job for the time being: https://github.com/mozilla/webmaker-curriculum/wiki/How-to-write-Learning-Objectives

Tag-based approach that @iamjessklein mentions should perhaps be included in Issue #74 - which could use some feedback! :)

[2015-01-23 10:21] #64 closed

[2015-01-23 10:23] dajbelshaw commented on #108
Just want to query the 30 January milestone given amount of stuff mentioned by @LauraHilliger in first comment?

[2015-01-23 10:27] dajbelshaw commented on #120
Hey @ldecoursy could we discuss this in Issue #88 perhaps?

[2015-01-23 10:29] dajbelshaw commented on #126
I've started putting together a glossary (Issue #89) but needs some attention. Please do dump terms at the bottom of this wiki page for disambiguation/definition: https://github.com/mozilla/webmaker-curriculum/wiki/Glossary :)

[2015-01-23 12:14] thornet commented on #120
Thanks for the links and edit suggestions! Have filed and live now at:

http://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/

Marking as closed.

[2015-01-23 12:14] #120 closed

[2015-01-23 12:15] thornet commented on #126
@dajbelshaw yes, would be great if you could make the glossary! The activity has some definitions already, but maybe a quick MDN/Google search to complete the rest?

[2015-01-23 12:19] thornet commented on #124
Thanks, @dajbelshaw! Added these objectives to the Ping Kong page.

[2015-01-23 12:21] thornet commented on #88
Cross-posting completed questionnaires for easy reference (thanks, all!) and closing this ticket.

Link to pre survey: http://goo.gl/forms/Uua6yKIy5E
Link to post survey: http://goo.gl/forms/ezm6IXWhhM

[2015-01-23 12:21] #88 closed

[2015-01-23 12:23] thornet commented on #89
Bumping this up a priority per @dajbelshaw's suggestion so we can include terms needed in Ping Kong activity.

[2015-01-23 13:00] thornet commented on #126
Feel free to let me know if you find any typos or have suggestions of what to fix. Currently missing questionnaire, but the rest is ready so marking closed.

[2015-01-23 13:00] #126 closed

[2015-01-23 13:12] dajbelshaw commented on #124
Great, closing this then. :)

[2015-01-23 13:12] #124 closed

[2015-01-23 14:25] thornet commented on #98
Yep! Drafted here:

https://teach.etherpad.mozilla.org/testing

[2015-01-23 14:25] #98 closed

[2015-01-23 14:28] thornet opened #130 "Prepare Discourse thread with reflection prompts"
Placeholder here:

http://discourse.webmaker.org/t/testing-1-reading-for-the-web/1149

Would love help writing the reflection prompts we want our testers to riff on.

Let's build from #88 & #79

[2015-01-23 14:33] dajbelshaw commented on #130
Perhaps we make this two threads, mirroring the pre- and post-activity questionnaires? We could link out to them, but capture more informal stuff in the threads themselves - e.g. just ask *What was the biggest "aha" moment for your learners during the activity?*

Would that work?

[2015-01-23 14:34] thornet commented on #78
For remixing at this stage, we might prompt most testers to remix in writing, rather than editing in Github.

I'd love to guide testers to share their remixes on this thread: http://discourse.webmaker.org/t/testing-1-reading-for-the-web/1149

(see issue #130)

@jgmac1106: love the examples you gave! Would you be up for modeling those as a reflection in the Discourse thread?

[2015-01-23 14:38] dajbelshaw commented on #78
Do you mean 'remix in writing' and then get us to edit the HTML, @thornet? or...?

[2015-01-23 14:51] jgmac1106 commented on #78
@thornet Sure. I can post a reflection about how I did some basic remixing if this what you are asking.

I also agree with @thornet the first web literacy basic around remixing should stay far away from code and even further from github. It should be either image based or changing text on website using X-Ray Goggles.

[2015-01-23 15:12] dajbelshaw commented on #78
Ah, +1 to X-Ray Goggles!

[2015-01-23 15:30] jgmac1106 commented on #78
@thornet Do you mean a reflection like something like this: http://writingwhilethrowing.tumblr.com/post/108886858443/remixing-making-of-a-zeega

I can post it to discourse, I like the idea of focusing on images for remixing.

but  like @dajbelshaw I like the idea of X-Ray Goggles as Remix 1: (though offline would be hard).

I know the coding crowd pushes back when X-Ray Goggles is used when just c

[2015-01-23 15:38] ldecoursy commented on #130
I think to keep things simple (and to lessen the link load) we should have one thread for reflection after the activity has been tested. Other possible prompts:
* Please share any anecdotes/quotes from your learners about the activity.
* Were there any points along the way where you or your learners got stuck?
* Did you end up having to alter or remix any of the instructions?
* Would you want to r

[2015-01-23 15:57] dajbelshaw commented on #130
Cool. Perhaps we should encourage tip-sharing beforehand in the general Chat area of the forum. :)

[2015-01-23 16:02] thornet commented on #78
+1 @jgmac1106 to those kinds of remixes, and even if that's too technical/high-bar, it can be narrative. "I changed the Kraken to be the Lock Ness monster for my local context. "

[2015-01-23 16:04] dajbelshaw commented on #78
Works well! http://dajbelshaw.makes.org/goggles/dajbelshaws-remix-of-web-literacy-basics-1-reading-the-web-kraken-the-code

(URL seems to indicate some kind of URL issue though?)

[2015-01-23 16:08] dajbelshaw commented on #126
Just wanted to say that this is looking fantastic with the images included. Skills!

[2015-01-23 16:18] ldecoursy opened #133 "Make questionnaire for Reading the Web: Web Mechanics (Ping Kong)"
Linked to learning objectives here:  https://github.com/mozilla/webmaker-curriculum/issues/124

Draft pre-activity Q's:
* How comfortable do you think learners are with reading, evaluating and manipulating URLs? (open ended)
* How might learners distinguish between URLs, IP addresses and simple search terms? (open ended)
* Do you think learners understand that there is a difference between the web

[2015-01-23 16:25] dajbelshaw commented on #133
Yep, I'd only suggest a couple of slight tweaks @ldecoursy (bolded):

* How comfortable do you think learners are with reading, evaluating and manipulating URLs? **(scale: 1-5)**
* How **did** learners distinguish between URLs, IP addresses and simple search terms? (open ended)
* Do you think learners **now** understand that there is a difference between the web and the Internet? (y/n)

:smiley_ca

[2015-01-23 17:01] ldecoursy commented on #133
Here's the link to the form for the pre-activity questionnaire: http://goo.gl/forms/i58qZA1PTl
@thornet ready for adding to the lovely testing landing page ;)

@dajbelshaw @thornet Thoughts on these for POST-activity questions?
* How comfortable do you think learners are with reading, evaluating and manipulating URLs? (scale: 1-5)
* Are your learners more easily able to distinguish between URLs, I

[2015-01-23 17:22] jgmac1106 commented on #78
I apologize for miss reading the ticket issue. I thought we were working on a basic remixing activity and not the remixing context ticket for credibility.

[2015-01-23 19:34] keyboardkat commented on #105
@smithisgeneric requesting initial feedback on teaching kit draft: https://etherpad.mozilla.org/appmakeredkit (think i got most of the sections here, but please let me know what i've missed!)

[2015-01-24 14:10] benrito commented on #108
Yes, we'll need to discuss. Doug, I'll find a time early this week.

[2015-01-25 15:13] mickfuzz commented on #123
@dajbelshaw Great, I'll have a play around with the formatting of it, get some feedback and then start to invite people.

[2015-01-26 10:30] dajbelshaw commented on #133
Looks good to me, @ldecoursy. We should explain in the intro that these are very similar questions to ascertain whether the session has had the desired impact. As part of that, we should ask mentors to be brutally honest!

[2015-01-26 10:31] dajbelshaw commented on #78
Not a problem @jgmac1106 - thanks for your input! And you're welcome to open new tickets. ;)

[2015-01-26 12:25] thornet commented on #133
Thanks, @dajbelshaw ! Adding pre questionnaire to our pages.

Could you write the post-questionnaire to be more tied to the Ping Kong activity, like http://goo.gl/forms/ezm6IXWhhM?

[2015-01-26 12:38] thornet commented on #79
This is completed in #88, closing.

[2015-01-26 12:38] #79 closed

[2015-01-26 13:25] dajbelshaw commented on #133
OK, let's try this for the post-questionnaire. In hindsight, we may need to change the pre-activity to be more like [the Kraken one](https://docs.google.com/a/mozillafoundation.org/forms/d/190bYzX-O1FvtwgxWrsp0WxvkUMqIh_tIx0dAb0f5dVo/formResponse). :)

# Reading the Web: Web Mechanics (post-activity)
Thanks for testing the activities for Web Literacy Clubs! Please complete the following three ques

[2015-01-26 13:47] dajbelshaw commented on #97
OK, so here's my $0.02, riffing off @LauraHilliger's braindump above. This is dependent on a couple of (potential) changes coming in Web Literacy Map v1.5:
* **Infrastructure** merging with **Web Mechanics** (see [this issue](https://github.com/mozilla/webliteracymap/issues/10))
* **Design/Accessibility** separating out into two distinct competencies (see [this issue](https://github.com/mozilla/we

[2015-01-26 13:52] ldecoursy commented on #133
Looks good to me :) I just gave @dajbelshaw and @thornet editing access to the pre Ping Kong survey in case you want to make any edits. Do you need me to port the above into a Google Form? Let me know either way.

[2015-01-26 13:56] ldecoursy commented on #97
Seems like a good flow to me (knowing that many activities will cross over competencies and hopefully draw on/reinforce skills learned earlier in the process). Would be good to get the curriculum working group's weigh-in once we have that group identified after tomorrow's call.

[2015-01-26 15:35] dajbelshaw commented on #74
Awaiting @keyboardkat's response before closing this. Happy for others to weigh in too!

[2015-01-26 15:36] dajbelshaw commented on #73
Do we actually still need this? Perhaps each activity has a bespoke Reflect & Review section?

[2015-01-26 15:37] dajbelshaw commented on #111
Still waiting for review from @smithisgeneric and @LauraHilliger. Happy for others to weigh in before closing this. :)

[2015-01-26 15:44] dajbelshaw commented on #113
OK, so I think we may need to rescope this one for a couple of reasons:

1. CSS isn't in **Composing for the Web** - it's currently in **Designing for the Web**
2. If we go with the [structure proposed](https://github.com/mozilla/webmaker-curriculum/issues/97#issuecomment-71462534) in Issue #97 then CSS wouldn't come until WebLit Basics II.

Of course, we could always switch **Remixing** and **Des

[2015-01-26 16:12] dajbelshaw commented on #97
Just flagging that in Issue #113 I've [flagged a potential need](https://github.com/mozilla/webmaker-curriculum/issues/113#issuecomment-71480839) to switch **Designing for the Web** and **Remixing**.

[2015-01-26 16:51] thornet commented on #130
Shipped.

[2015-01-26 16:51] #130 closed

[2015-01-26 16:54] dajbelshaw commented on #89
OK, working on this. Worth noting that we can link to each term from the activities - e.g. [Ping](https://github.com/mozilla/webmaker-curriculum/wiki/Glossary#ping)

[2015-01-26 17:24] thornet commented on #78
@jgmac1106 sorry for the confusion. yes, we'll have a section to design the activities that teach remix soon. learning how to use github for this project = a good experiment!

@dajbelshaw: will defer to you if we still want to flesh out this section in the wiki. I think we can illustrate what we mean in the Discourse thread to a lot of effect: http://discourse.webmaker.org/t/testing-1-reading-for-

[2015-01-26 17:53] dajbelshaw commented on #78
Agree @thornet - let's just use Discourse and build out the wiki if there's a need (perceived/requested)

[2015-01-26 17:53] #78 closed

[2015-01-27 11:10] thornet commented on #108
@benrito & @Algywilliams are confirming timelines. This will likely be kicked off in earnest in a few weeks, so I'm changing the milestone date.

[2015-01-27 11:12] thornet commented on #133
Thanks,@dajbelshaw! Yes, liking those q's and if you want to modify the pre questionnaire, we've got a few hours to do that. Because of time, would it be alright @dajbelshaw to turn this into a quick form? Then I'll add it to the right testing pages.

[2015-01-27 11:13] dajbelshaw commented on #133
Yes please, @ldecoursy - would be good if you could port this into a Google Form please. :+1:

*(made the smallest of edits to the pre- survey Form: added 'your' to each question for clarification)*

[2015-01-27 11:13] thornet commented on #89
Cool. I'm adding the link to the full wiki page now. If we want, we can go back later and mark individual ones.

[2015-01-27 11:16] thornet opened #134 "Create activity for 2. Writing for the Web: Remixing"
This is our sweet spot!

Let's gather ideas and existing assets for an 45min. activity that teaches some flavor of:

* Modifying existing web resources to create something new
* Identifying and using openly-licensed work
* Combining multimedia resources
* Creating something new on the web using existing resources

-----
Update by @dajbelshaw: after discussion with community we now have learning ob

[2015-01-27 11:34] dajbelshaw commented on #113
Closing this as we're going with Remixing for Web Literacy Basics I.

[2015-01-27 11:34] #113 closed

[2015-01-27 11:38] dajbelshaw opened #135 "Create activity for 2. Writing for the Web: Composing for the Web"
We've got the learning objectives for this from Issue #111:

* Summarize the most commonly-used HTML tags
* Use HTML tags to re-structure a web page
* Create a web page for a specific audience

-----
**Update:** finalised learning objectives (above) and asking community for input in [this thread](discourse.webmaker.org/t/curating-curriculum-composing-for-the-web/1167/)

[2015-01-27 11:38] dajbelshaw commented on #111
Closing this.

[2015-01-27 11:39] dajbelshaw opened #136 "Create learning objectives for 2. Writing for the Web: Remixing"
Use this: https://webmaker.org/resources/weblit-remixing

Informs: #134

-----
**Update:** we've agreed on:

* Identify openly-licensed resources
* Curate openly-licensed resources in different media
* Combine openly-licensed resources to create something new on the web

[2015-01-27 11:40] dajbelshaw commented on #134
Excellent, filed Issue #136 to create learning objectives from these skills. :)

[2015-01-27 11:44] dajbelshaw commented on #133
Yep, I'll do that this afternoon.

[2015-01-27 13:35] dajbelshaw opened #137 "Create questionnaires for 2. Writing for the Web: Composing for the Web"
We need pre- and post-session surveys for this once we've decided on the activities (#135)

-----
**Update:**
* Pre-session questionnaire (Mentors): http://goo.gl/forms/ejKUx696cB
* Post-session questionnaire (Mentors): http://goo.gl/forms/QqCRZzIHjk
* Pre-session questionnaire (Learners): http://goo.gl/forms/Vkk4f2fAEC
* Post-session questionnaire (Learners): http://goo.gl/forms/UzULI6RUpy

[2015-01-27 13:40] dajbelshaw opened #138 "Create questionnaires for 2. Writing for the Web: Remixing"
Once we've got the learning objectives (#136) and activities (#134) for Remixing, we need pre- and post- session questionnaires!

-----
**Update:**

* Pre-session questionnaire for Mentors: http://goo.gl/forms/OMqDnKtcvH
* Post-session questionnaire for Mentors: http://goo.gl/forms/RWJlvdrS0k
* Pre-session questionnaire for Learners: http://goo.gl/forms/yEdD8MQ8Cn
* Post-session questionnaire for

[2015-01-27 14:04] dajbelshaw commented on #133
OK, done: http://goo.gl/forms/qy6UZiySfF

Saw that someone added a *Details about your testing group* page in the Credibility post-questionnaire, so that's in this one too. :)

[2015-01-27 14:05] thornet commented on #133
Thanks! Adding to the pages.

[2015-01-27 14:05] #133 closed

[2015-01-27 14:52] dajbelshaw commented on #136
Here's a couple of learning objectives inspired by the skills from the **Remixing** competency:

* Identify openly-licensed work available to be remixed
* Combine multimedia resources to create something new on the web

Suggest that, as with Kraken and Ping Kong, we might want to combine with a second learning objective? Perhaps **Open Practices**?

[2015-01-27 14:54] dajbelshaw commented on #123
Saw via Miles Berry this morning that the government has released a 'spec of specs': https://www.gov.uk/government/publications/gcse-computer-science

[2015-01-27 15:21] dajbelshaw commented on #134
Throwing these in here from the Webmaker resources section for Remixing:
* [X-Ray Goggles teaching kit](https://mozteach.makes.org/thimble/xray-goggles-teaching-kit)
* [Meme generator](https://thimble.webmaker.org/project/59455/remix) (uses Thimble)
* [Animated GIF Generator](https://imgflip.com/gifgenerator)
* [The Gendered Advertising Remixer](http://www.genderremixer.com/)

:thought_balloon: Th

[2015-01-27 15:43] dajbelshaw commented on #112
Closing this in favour of Issue #135 (easier to grok for community)

[2015-01-27 15:43] #112 closed

[2015-01-27 15:44] dajbelshaw commented on #111
Shouldn't have closed this - reopening for community review.

[2015-01-27 15:54] dajbelshaw commented on #117
Done - added to https://teach.etherpad.mozilla.org/club-calls

[2015-01-27 15:54] #117 closed

[2015-01-27 16:58] dajbelshaw commented on #89
Done!

[2015-01-27 16:58] #89 closed

[2015-01-27 18:44] thornet opened #139 "Reword "do activity on your own" in index.html"
Per @jgmac1106's good feedback in the club call. That phrase was confusing. Maybe "practice the activity on your own."

[2015-01-27 19:24] mickfuzz commented on #123
Well spotted, this seems a good base to work from rather than casting the net wider.

The school I've just started at aren't doing Computing and are still on ICT for GCSE. That seems to map a bit more directly to the Web Literacies.

[2015-01-28 09:55] thornet opened #140 "Determine which badges (if any) to issue in Q1"
Let's make a decision whether we want to issue any of our existing badges to the Q1 cohort of testers and learners. This would be to acknowledge participation.

[2015-01-28 10:29] dajbelshaw commented on #140
Perhaps we should issue the following three directly:

<a href="https://webmaker.org/badges/event-host"><img width="100px" src="https://badgekit-mozilla.mofoprod.net/images/badge/259" alt="Event host">Event host

<a href=""><img width="100px" src="https://badgekit-mozilla.mofoprod.net/images/badge/961" alt="Web Literacy skill sharer">Web Literacy skill sharer

<a href="https://webmaker.org/badges/

[2015-01-28 11:01] dajbelshaw commented on #136
If we go with the skills under [**Open Practices**](https://github.com/mozilla/webmaker-curriculum/issues/136) then how about adding this to the other two?

* Select a Creative Commons license to apply to a remixed resource

**Note:** I'm using the [How to write Learning Objectives](https://github.com/mozilla/webmaker-curriculum/wiki/How-to-write-Learning-Objectives) page to ensure we hit each lev

[2015-01-28 13:36] dajbelshaw commented on #108
Met with @benrito and Katherine van Wyk (E1M) today. Katherine is going to send details of an information architecture that takes into account the constraints of their platform / feature phones. Basing this off the [Kraken activity](https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html) in the first instance. Should have this by the end of the week. :)

[2015-01-28 14:14] dajbelshaw commented on #139
Maybe we need to separate the four bullets into Before / During / After as well?

## Before
* *Fill in* pre-activity questionnaire
* *Run through* the activity to *familiarise* yourself *with it*

## During
* *Complete* the activity with your learners

## After
* *Fill in* post-activity questionnaire

[2015-01-28 14:17] dajbelshaw commented on #100
Who do we need to help with this - @iamjessklein?

[2015-01-28 14:19] dajbelshaw commented on #99
Wondering with @LauraHilliger being away whether @iamjessklein and @toolness could collaborate on a solution we can add into the activity template?

[2015-01-28 14:20] dajbelshaw commented on #92
Can anyone help with this while @LauraHilliger is away? Perhaps @k88hudson if she's got some time to dive into the repo?

[2015-01-28 14:22] dajbelshaw commented on #73
Closing this as it's probably not needed any more.

[2015-01-28 14:22] #73 closed

[2015-01-28 14:22] #51 closed

[2015-01-28 14:24] dajbelshaw commented on #40
Who's on point for this? @simonaramkisson? :)

[2015-01-28 14:25] dajbelshaw commented on #34
New roadmap in #97

[2015-01-28 14:26] dajbelshaw commented on #8
Glossary created: https://github.com/mozilla/webmaker-curriculum/wiki/Glossary

[2015-01-28 14:26] #8 closed

[2015-01-28 15:56] dajbelshaw opened #141 "Sandbox"
Reserved.

- Michelle editing here.

[2015-01-28 15:57] thornet commented on #141
First!

[2015-01-28 22:53] keyboardkat commented on #105
Update: Teaching kit now live at https://keyboardkat.makes.org/thimble/MTEzODQyNjExMg==/appmaker-for-educators-teaching-kit

Finishing today and tomorrow. If useful, can also port raw code to Github in case future users want to remix elsewhere, outside of Thimble.

[2015-01-29 09:27] dajbelshaw commented on #105
Great! Thanks Kat, looking good. Was going to ask on the status of this but glad you'll have it finished this week. :)

PS Love the main image. Where's that from?

[2015-01-29 09:50] dajbelshaw commented on #136
During conversation with @ldecoursy and @thornet yesterday, we decided to:

* Remove learning objectives not directly related to 'Remixing' competency
* Create a Discourse thread for feedback on these learning objectives

Will re-scope. :)

[2015-01-29 09:50] dajbelshaw commented on #111
During conversation with @ldecoursy and @thornet yesterday, we decided to:

* Remove learning objectives not directly related to 'Composing for the Web' competency
* Create a Discourse thread for feedback on these learning objectives

Will re-scope. :)

[2015-01-29 09:55] dajbelshaw commented on #111
Further to conversation with @thornet and @ldecoursy yesterday, have opened thread on Discourse for community feedback:

http://discourse.webmaker.org/t/learning-objectives-composing-for-the-web/1171

[2015-01-29 10:20] dajbelshaw commented on #136
Suggesting these learning objectives for **Remixing** in Discourse thread below:

* Identify openly-licensed work available to be remixed
* Combine openly-licensed multimedia resources
* Create and publish something new on the web

http://discourse.webmaker.org/t/learning-objectives-remixing/1172

[2015-01-29 19:23] keyboardkat commented on #105
Thanks Dr @dajbelshaw! :) TBH, I have no idea where img from at this point - have had it on my various computers forever!

@smithisgeneric have now updated side bar images for both printable resources and CIRA acknowledgement. let me know if these work? other than that, kit should be ready for you to transfer to Hive Toronto account: https://keyboardkat.makes.org/thimble/MTEzODQyNjExMg==/appmaker-

[2015-02-02 09:42] dajbelshaw commented on #138
Paging @smithisgeneric to see if she use her expertise to come up with the questions for this (which I can then copy to Google Forms)?

[2015-02-02 09:42] dajbelshaw commented on #137
Paging @smithisgeneric to see if she use her expertise to come up with the questions for this (which I can then copy to Google Forms)?

[2015-02-02 10:10] dajbelshaw opened #143 "Decide on canonical URL structure for Clubs sessions"
Originally, our URL structure reflected the competency being focused upon. We've changed this to focus on the main activity covered in the session - e.g. https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session01-kraken.html

Given that at some point in the future we may want to swap out the activity, should we return to referencing the **competency** or the **session number** rat

[2015-02-02 15:21] smithisgeneric commented on #137
Here are some suggestions:

Pre:

Do your learners have experience with HTML?
Yes
No
Unsure

What HTML tags do you expect will be most interesting for your learners?

What challenges do you expect your learners to have with HTML?

Post

Were the activities effective ways to engage learners to understand HMTL?
Highly Agree
Agree
Neutral
Disagree
Unsure
Not applicable/did not attempt

What challenge

[2015-02-02 16:43] smithisgeneric commented on #138
Here are some suggestions:

Pre

Do your learners have experience with remix?
Yes
No
Unsure

If yes, what kind of remixes have your learners created?

What challenges do you expect your learners to have with remix?

Post

Which of the following skills did at least 70% of your learners demonstrate?
-   Using an appropriate search strategy to find openly licensed work
-   Finding Creatives Commons L

[2015-02-02 18:55] iamjessklein commented on #100
is this tied to a heartbeat? I'm happy to work on it when it's tied to a heartbeat.
cc/ @davidascher

[2015-02-03 10:59] dajbelshaw commented on #111
OK, so after some great input from the community, we've got:
- Summarize the most commonly-used HTML tags
- Use HTML tags to re-structure a web page
- Create a web page for a specific audience

/ cc @thornet @omnignorant @smithisgeneric @ldecoursy

[2015-02-03 11:09] dajbelshaw commented on #136
After feedback from the community, we've got:
- Identify openly-licensed resources
- Curate openly-licensed resources in different media
- Combine openly-licensed resources to create something new on the web

/ cc @thornet @omnignorant @smithisgeneric @ldecoursy

[2015-02-03 11:22] #136 closed

[2015-02-03 11:22] #111 closed

[2015-02-03 11:25] dajbelshaw commented on #138
Thanks @smithisgeneric! Will get these converted into a Google Form. :)

[2015-02-03 11:25] dajbelshaw commented on #137
Cool, thanks @smithisgeneric. Will convert this to a Google Form. :)

[2015-02-03 11:26] dajbelshaw commented on #108
Update: follow-up meeting postponed until Wednesday 11th Feb as E1M need extra time to get Information Architecture to us.

[2015-02-03 11:28] dajbelshaw commented on #100
Hi @iamjessklein - it's tied to March 27th at the moment. Would you prefer it to be in the main /plan repo?

[2015-02-03 13:55] dajbelshaw commented on #140
Just revisiting this and thinking about whether we want to create a couple of non-linear pathways. We could do this with the badges we've already got, but we might want to think about the points at which we'd want to acknowledge/encourage contribution:

![Mentor pathway](https://cloud.githubusercontent.com/assets/2429426/6021217/f3ca1ddc-abab-11e4-9fdc-2a0f23736e65.png)

This is just a starter for

[2015-02-03 14:34] iamjessklein commented on #100
I believe that's how it gets to TPS, I could be wrong though. cc @thisandagain  is that right?

[2015-02-03 15:47] dajbelshaw commented on #139
Updated: https://github.com/mozilla/webmaker-curriculum/commit/af8336c44ad1e6996d0ac083f48aecb7b017b147

[2015-02-03 15:47] #139 closed

[2015-02-03 15:52] #116 closed

[2015-02-03 16:09] dajbelshaw commented on #138
Pre-session questionnaire for Mentors: http://goo.gl/forms/OMqDnKtcvH

[2015-02-03 16:15] dajbelshaw commented on #138
Post-session questionnaire for Mentors: http://goo.gl/forms/RWJlvdrS0k

[2015-02-03 16:25] dajbelshaw commented on #137
Pre-session questionnaire: http://goo.gl/forms/ejKUx696cB

[2015-02-03 16:30] dajbelshaw commented on #137
Post-session questionnaire: http://goo.gl/forms/QqCRZzIHjk

[2015-02-03 18:10] thornet commented on #135
Going to create this page tomorrow based on Discourse thread: http://discourse.webmaker.org/t/curating-curriculum-composing-for-the-web/1167/10?u=michelle

[2015-02-03 18:12] thornet commented on #134
Going to make this page tomorrow based on: http://discourse.webmaker.org/t/curating-curriculum-remixing/1168/8

[2015-02-03 22:57] thisandagain commented on #100
Yup! Needs to be attached to the scope of work of an existing `/plan` ticket or have a new one created. @hannahkane is your PM to help prioritize this.

[2015-02-04 10:00] dajbelshaw commented on #134
I'm happy to take one of these (this or #135) and make a start.

[2015-02-04 10:01] dajbelshaw commented on #135
I'm happy to take one of these (this or #134) and make a start.

[2015-02-04 10:20] thornet commented on #138
Thanks, all!

Claw has also requested pre & post questionnaires for learners. Could we quickly generate those as well?

[2015-02-04 10:21] thornet commented on #137
Thanks, all!

Claw has also requested pre & post questionnaires for learners. Could we quickly generate those as well?

[2015-02-04 10:41] dajbelshaw commented on #137
Happy to create questionnaires, but will just point out that this activity doesn't require a computer. Are we expecting mentors to get learners to fill in computer-based questionnaire, or would it be better on paper?

/ cc @thornet @ldecoursy

[2015-02-04 11:20] dajbelshaw commented on #138
OK then, for leaners, how about....

# Pre

## Question 1

Do you know what it means to 'remix' something?
_[scale]_
- Yes
- I think so
- Not sure
- Probably not
- No

## Question 2

Have you remixed something on the Web before?
_[radio buttons]_
- Yes
- No
- Unsure

## Question 3

Explain what you think 'openly licensed' resources are.
[paragraph text]

# Post

## Question 1a

Did you find the ac

[2015-02-04 11:30] dajbelshaw commented on #138
Pre-session questionnaire for Learners: http://goo.gl/forms/yEdD8MQ8Cn

[2015-02-04 11:35] dajbelshaw commented on #138
Post-session questionnaire for Leaners: http://goo.gl/forms/sr3KzghBsF

[2015-02-04 11:37] dajbelshaw commented on #138
Need QA from @thornet & @ldecoursy

Also, wondering whether we're 'keeping responses in Forms' or creating spreadsheet. Which option did you choose, Lainie?

[2015-02-04 13:58] dajbelshaw commented on #137
OK, well online or offline we need some questions for learners :

# Pre

## Question 1

How much experience do you have with HTML, the language of the web?
_[scale]_

## Question 2

Would you be able to explain what these HTML tags are for? `<p>, <img>, <body>`?
_[multiple choice]_
- Yes
- No
- Unsure

## Question 3

Can you give examples of a website that is aimed at you, and one that is aimed at

[2015-02-04 15:19] ldecoursy commented on #138
These look good to me - think we have the responses going directly into a spreadsheet for easier viewing...

[2015-02-04 15:25] dajbelshaw commented on #138
Cool, will update them all and give you and @thornet edit permissions, @ldecoursy :)

[2015-02-05 00:01] hannahkane commented on #100
I createe a ticket in the /plan repo for March 27, though we'll look at in the context of the other priorities when we actually do the planning for that heartbeat.

https://github.com/MozillaFoundation/plan/issues/301

[2015-02-05 10:06] dajbelshaw commented on #137
Pre-session questionnaire for learners: http://goo.gl/forms/Vkk4f2fAEC

[2015-02-05 10:11] dajbelshaw commented on #137
Post-session questionnaire for learners: http://goo.gl/forms/UzULI6RUpy

[2015-02-05 10:18] dajbelshaw commented on #137
@thornet could you close this once you've transferred the questionnaires to the [index page](https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/), please?

[2015-02-05 10:18] dajbelshaw commented on #138
@thornet could you close this once you've transferred the questionnaires to the [index page](https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/), please?

[2015-02-05 10:27] dajbelshaw opened #144 "Create activity for 3. Participating on the Web: Open Practices"
Skills for this competency are listed below. Learning objectives being developed in #118
- Distinguishing between open and closed licensing
- Making web resources available under an open license
- Using and sharing files in open, web-friendly formats when appropriate
- Contributing to an Open Source project

To do:
- [x] Finalise learning objectives (@dajbelshaw)
- [ ] Seed Discourse thread (@ldec

[2015-02-05 10:34] dajbelshaw opened #145 "Create questionnaires for 3. Participating on the Web: Open Practices"
We need questionnaires for this once the activities are finalised (#144)

To do:
- [x] [Pre-session questionnaire for Learners](http://goo.gl/forms/4DanIgrM9w)
- [x] [Post-session questionnaire for Learners](http://goo.gl/forms/ZeyNYQzc1t)
- [x] [Pre-session questionnaire for Mentors](http://goo.gl/forms/J1fsuwZEgs)
- [x] [Post-session questionnaire for Mentors](http://goo.gl/forms/uOEzAbbH34)

[2015-02-05 10:55] dajbelshaw commented on #100
Thanks @hannahkane!

[2015-02-06 15:58] dajbelshaw opened #146 "Create HTML Corners activity, referenced in HTML Puzzle Box activity"
The 'HTML Corners' game is referenced in the **Hack the News** activity, but there's no guidance as to how to play it!

[2015-02-06 16:42] dajbelshaw commented on #97
OK, taking another stab knowing that we'll need _two_ activities for the **Participating on the Web** part of **Web Literacy Basics I**. Let's just focus on the first couple of modules to begin with:

# Web Literacy Basics I

## Reading
- Credibility
- Web Mechanics

## Writing
- Composing for the Web
- Remixing

## Participating
- Open Practices
- Privacy

# Web Literacy Basics II

## Reading
- N

[2015-02-06 16:46] dajbelshaw commented on #136
We need to revise these as they don't meet the actual activity:
- Distinguish between original content and a remix
- Use X-Ray Goggles to alter a web page to give it a particular theme
- Critique another learner's remix

[2015-02-06 16:51] dajbelshaw commented on #146
Done: https://thimble.webmaker.org/project/123763

[2015-02-06 16:51] #146 closed, assigned to dajbelshaw

[2015-02-06 16:52] dajbelshaw commented on #138
Done!

[2015-02-06 16:52] #138 closed

[2015-02-06 16:52] dajbelshaw commented on #137
Done!

[2015-02-06 16:52] #137 closed

[2015-02-06 16:53] dajbelshaw commented on #134
I reckon we're done: https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-hackthenews.html

\o/

[2015-02-06 16:53] #134 closed

[2015-02-06 16:54] dajbelshaw commented on #135
Done! https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session02-puzzlebox.html

:+1:

[2015-02-06 16:54] #135 closed

[2015-02-09 11:48] dajbelshaw commented on #118
Starting work on this soon. For now, will just point to the [Open Practices](https://webmaker.org/en-US/resources/literacy/weblit-OpenPractices) competency on webmaker.org, and list the **skills** (these aren't _learning objectives_ yet):
- Distinguishing between open and closed licensing
- Making web resources available under an open license
- Using and sharing files in open, web-friendly formats

[2015-02-09 15:12] dajbelshaw commented on #118
OK, think a lot of this will probably depend on the activities we choose, but here's some **learning objectives** as a starter for ten:
- Identify openly-licensed resources
- Locate and use resources under an open license
- Create a resource and share it in an open, web-friendly format

/ @ldecoursy is the plan to put these into Discourse again and ask the community to help? :)

[2015-02-09 23:04] ldecoursy commented on #118
That sounds great. Let me know if you have time to set that up before the call tomorrow or I can do.

[2015-02-10 09:30] dajbelshaw commented on #118
OK @ldecoursy have created thread here, ready for the call: http://discourse.webmaker.org/t/learning-objectives-open-practices/1194

[2015-02-11 11:16] dajbelshaw commented on #145
Hey @smithisgeneric. I'll be on PTO next week, so just wondering if you want a hand with these _this_ week? If not, when you've finished please let @ldecoursy know so she can add to Google Forms. :)

[2015-02-11 13:21] smithisgeneric commented on #145
@dajbelshaw can you please take this on this week.

In general for issues like this as part of the work flow for Webmaker clubs curriculum please note that I can provide consultation on questions only in my current role. @dajbelshaw, please do not assign responsibility to me  for questionnaires. I can provide consultation on appropriate questions only.

[2015-02-11 13:42] dajbelshaw commented on #108
Update: met with Katherine, Alex & Algy from Every1Mobile. Went through information architecture for pilot activities on featurephones.
![wireframe_digital literacy course draft_v0 1](https://cloud.githubusercontent.com/assets/2429426/6147881/d46c85ee-b1f3-11e4-8d0c-882930e27d8b.png)

[2015-02-11 13:43] dajbelshaw commented on #145
Yes, of course @smithisgeneric - my apologies. Will draft questions this week. :)

[2015-02-12 14:43] dajbelshaw commented on #145
Got these done and in Google Forms as both @ldecoursy and I are on PTO next week! May need some tweaking by @thornet.

[2015-02-12 14:52] dajbelshaw commented on #118
As of right now we have:
- Locate and collect openly-licensed resources
- Create a resource at a publicly-accessible URL
- Share a resource in an open, web-friendly format

Unless there's any further action on the Discourse thread, let's go with these! :+1:

[2015-02-13 11:31] dajbelshaw commented on #118
Update after further activity in the Discourse thread:
- Use a search engine to locate and collect openly-licensed resources
- Create a resource at a publicly-accessible URL
- Collaborate with others by sharing a resource in an open, web-friendly format

I'm happy with these learning objectives, but won't be around for creating activities around them for 3rd Club test on 20th February. I'll be on

[2015-02-25 09:59] #145 closed, assigned to smithisgeneric

[2015-02-25 10:00] dajbelshaw commented on #144
Can we close this now? :)

[2015-02-25 10:00] #118 closed

[2015-02-25 10:04] dajbelshaw opened #151 "Create questionnaires for 3. Participating on the Web: Community Participation"
We've got the [Story of Us](https://mozilla.github.io/webmaker-curriculum/WebLiteracyBasics-I/session03-storyofus.html) activity, so we now just need:
- [ ] Pre-session questionnaire for Learners
- [ ] Post-session questionnaire for Learners
- [ ] Pre-session questionnaire for Mentors
- [ ] Post-session questionnaire for Mentors

[2015-02-25 10:26] thornet opened #152 "Move all tickets in this repo to Mozilla-Learning"
Our new team repo: https://github.com/MozillaFoundation/Mozilla-Learning/labels/curriculum

[2015-02-25 10:30] dajbelshaw commented on #151
Closing as moved to other repo: https://github.com/MozillaFoundation/Mozilla-Learning/issues/85

[2015-02-25 10:30] #151 closed, assigned to dajbelshaw

[2015-02-25 10:32] thornet commented on #152
@LauraHilliger @dajbelshaw mind taking a look at tickets in this repo you want to make sure we keep, and then just move them over?

Am doing that now for mine.

Will close this issue at the end of the week and we won't use this repo for tracking issues anymore.

[2015-02-25 10:32] #144 closed, assigned to thornet

[2015-02-25 10:32] #141 closed

[2015-02-25 10:33] thornet commented on #140
Moved to Mozilla Learning repo.

[2015-02-25 10:33] #140 closed

[2015-02-25 10:53] dajbelshaw commented on #152
Yep, will do @thornet. Apologies, must have missed the switch in my post-PTO catch-up haste!

[2015-02-25 10:54] LauraHilliger commented on #152
#onit

[2015-02-25 10:58] dajbelshaw commented on #152
Looks like there's no 'official' way to move issues, but you can use this: https://github-issue-mover.appspot.com (which uses the GitHub API)

[2015-02-25 10:59] dajbelshaw commented on #123
This issue was moved to MozillaFoundation/Mozilla-Learning#89

[2015-02-25 10:59] #123 closed

[2015-02-25 11:00] dajbelshaw commented on #108
This issue was moved to MozillaFoundation/Mozilla-Learning#90

[2015-02-25 11:00] #108 closed

[2015-02-25 11:01] #74 closed

[2015-02-25 11:02] dajbelshaw commented on #97
This issue was moved to MozillaFoundation/Mozilla-Learning#91

[2015-02-25 11:02] #97 closed

[2015-02-25 11:07] LauraHilliger commented on #32
moving to Mozilla-Learning repo and closing this issue.

[2015-02-25 11:07] #32 closed

[2015-02-25 11:08] LauraHilliger commented on #33
closing as I assume the wm Engineering team will be #onit in https://github.com/MozillaFoundation/Mozilla-Learning/issues/72

[2015-02-25 11:08] #33 closed

[2015-02-25 11:18] dajbelshaw commented on #105
Paging @smithisgeneric to see if this make is now on the Hive Toronto account?

https://keyboardkat.makes.org/thimble/MTEzODQyNjExMg==/appmaker-for-educators-teaching-kit

[2015-02-25 11:19] LauraHilliger commented on #34
moved to https://github.com/MozillaFoundation/Mozilla-Learning/issues/92 and closing

[2015-02-25 11:19] #34 closed

[2015-02-25 11:29] LauraHilliger commented on #40
moved to https://github.com/MozillaFoundation/Mozilla-Learning/issues/93

[2015-02-25 11:29] #40 closed

[2015-02-25 11:31] LauraHilliger commented on #85
ref'd in Mozilla-Learning (closing here)

[2015-02-25 11:31] #85 closed

[2015-02-25 11:33] LauraHilliger commented on #92
will be covered in https://github.com/MozillaFoundation/Mozilla-Learning/issues/47

[2015-02-25 11:33] #92 closed

[2015-02-25 11:35] LauraHilliger commented on #115
covered in https://github.com/MozillaFoundation/Mozilla-Learning/issues/47

[2015-02-25 11:35] #115 closed

[2015-02-25 11:37] #99 closed

[2015-02-25 11:38] LauraHilliger commented on #100
Previously moved to mozilla-learning

[2015-02-25 11:38] #100 closed

[2015-02-25 13:09] #143 closed, assigned to nobody

[2015-03-24 12:06] #152 closed, assigned to nobody

[2015-04-17 11:19] #105 closed

[2015-08-31 21:50] mmmavis opened #218 "Add vendor prefix for flexbox"
Page layout looks broken on older versions of Safari.

![img](https://cloud.githubusercontent.com/assets/4128600/9492219/8bdee3de-4bc3-11e5-957e-8043506c84d4.png)

(reported by @chadsansing originally [here](https://github.com/mozilla/teach.webmaker.org/issues/1199))

[2015-09-02 23:24] #218 closed, assigned to mmmavis

[2015-09-15 17:21] secretrobotron opened #220 "Review and integrate Webmaker activity"
One of our contributors from Indonesia created an activity based on our own and some in-the-field feedback and experience.

Would love to integrate it where possible.

https://d157rqmxrxj6ey.cloudfront.net/rara/4349/

cc @chadsansing

[2015-09-15 17:47] chadsansing commented on #220
@secretrobotron, since that's on Thimble, would it work to splash the link at the bottom of the template-based activity with copy like, "[Remix this Webmaker Android App storytelling activity for your community with Thimble!](https://d157rqmxrxj6ey.cloudfront.net/rara/4349/)?"

[2015-09-15 17:59] secretrobotron commented on #220
@chadsansing that sounds cool! What's the template-based activity?

[2015-09-15 18:11] chadsansing commented on #220
@secretrobotron, the page that looks like the other activity pages, rather than the remix which looks like an old-Thimble Teaching Kit. Like http://mozilla.github.io/webmaker-curriculum/MobileWeb/design-webmaker-project.html.

Also, I will ask if we can splash that link and copy at the end of the activity - should be easy to do FTW.

[2015-09-23 19:35] alvarmaciel opened #222 "broken link to pre-activity on hack the news"
Hi,
There is a broken link to the form http://goo.gl/forms/3kxNnXjdEX

[2015-11-16 19:38] flukeout opened #223 "Create portfolio template and portfolio assessment rubric"
**Migrated from** https://github.com/mozilla/thimble.webmaker.org/issues/644

This is an idea to support educators who are using Thimble with their learners, and want to assess learning outcomes.

From @jgmac1106 in #642:

I would usually assess Thimble makes as a portfolio. In the past I created
a portfolio Template and asked students to add links back to previous makes
along with reflection of k

[2015-12-03 23:23] mmmavis opened #224 "Improve Curriculum Queue github page layout and styles"
for details see https://github.com/mozilla/teach.mozilla.org/issues/1364

[2015-12-03 23:25] #224 closed, assigned to mmmavis

[2016-01-11 19:08] mmmavis opened #228 "Remove Webmaker logo from all pages"
re: https://github.com/mozilla/teach.mozilla.org/issues/1383

[2016-01-11 19:27] #228 closed, assigned to mmmavis

[2017-11-26 05:50] carlosernestoortiz opened #231 "univeral Gcode sender no open in my laptop"